.mainContainer {
  display: flex;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2.83064px 30px rgba(0, 0, 0, 0.06);
  border-radius: 0px 0px 2.83064px 2.83064px;
  max-width: max-content;
  padding: 5px 10px;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
.quote {
  font-weight: 600;
  margin-right: 15px;
  font-size: 14px;
  & span {
    margin-left: 3px;
    vertical-align: middle;
  }
  & svg {
    vertical-align: middle;
  }
}
.sendQuote {
  color: #0f9fa9;
}
.acceptedQuote {
  color: #6ca826;
}
.rejectedQuote {
  color: #d60f0f;
}
