@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.main {
  --head-spacing: 20px 0 30px;
  --row-gap: 25px;
  --icon-container-size: 52px;
  --icon-size: 20px;
  --icon-text-space: 20px;

  & * {
    font-family: 'Poppins', sans-serif, 'Inter', sans-serif;
  }

  display: grid;
  gap: 50px;
  margin-block: 20px;

  .date {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #5b5b5b;
    background: #ededed;
    border-radius: 20px;
    padding: 9px 26px;
    max-width: max-content;
    display: block;
    margin-bottom: 30px;
  }

  .iconContainer {
    width: var(--icon-container-size, 40px);
    height: var(--icon-container-size, 40px);
    background-color: var(--icon-bg-color, #e2fbec);
    position: relative;
    border-radius: 50%;
    flex-shrink: 0;
    & svg {
      max-width: var(--icon-size, 18px);
      max-height: var(--icon-size, 18px);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      fill: var(--icon-color, #138a86);
      color: var(--icon-color, #138a86);
    }
  }
  .logContainer {
    display: grid;
    gap: var(--row-gap, 15px);
    isolation: isolate;
  }
  .singleLog {
    display: flex;
    margin-top: calc(var(--icon-text-space, 15px) * -1);
    margin-left: calc(var(--icon-text-space, 15px) * -1);
    position: relative;

    & > * {
      margin-top: var(--icon-text-space, 15px);
      margin-left: var(--icon-text-space, 15px);
    }
    &::after {
      content: '';
      --icon-container-size: 52px;
      --icon-text-space: 20px;
      position: absolute;
      z-index: -1;
      width: 1px;
      background-color: #c4c4c4;
      top: calc(var(--icon-container-size, 40px) + 24px);
      bottom: calc(calc(var(--icon-container-size, 40px) - 31px) * -1);
      left: calc(var(--icon-container-size, 40px) * 0.5 + var(--icon-text-space, 40px));
    }
    &:last-child::after {
      content: unset;
    }
  }

  .logDetails {
    font-size: 12px;
  }
  .timePassedBadge {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: #5b5b5b;
    background: #ededed;
    padding: 6px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-left: 15px;
  }
}
.logHead {
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  color: #3a3a3a;
  strong {
    font-weight: 600;
  }
  span {
    color: #13ab19;
  }
  margin: 4px 0 6px;
}
.badge {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  padding: 7px 26px;

  border-radius: 20px;
  display: inline;
  &.badgeFail {
    background-color: #fee4e0;
    color: #d15241;
    margin-left: 15px;
  }
  &.badgePass {
    background-color: #d9f9da;
    color: #109f16;
    margin-left: 15px;
  }
  &.badgeComplete {
    background-color: #d9f9da;
    color: #109f16;
    margin-left: 15px;
  }
  &.service {
    background-color: #f3e2ee;
    color: #863a6f;
  }
  &.step {
    background-color: #dde5ee;
    color: #344d67;
  }
}
