.sidebarContainer {
  --sidebar-width: 440px;
  --spacing: 12px;

  position: absolute;
  top: 0;
  bottom: 0;
  right: calc(var(--sidebar-width) * -1);
  z-index: 2;
  width: Min(var(--sidebar-width), 100%);
  transition: right 0.5s;
  background-color: white;
  // box-shadow: var(--ds-shadow-overlay, 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(9, 30, 66, 0.08));
  box-shadow: 0px 5.64929px 70.6161px rgba(0, 0, 0, 0.1);
  // border-radius: 8.47393px;
  overflow: hidden;
  right: 0;
  transform: translateX(100%);
  border-radius: 8px;

  &.active {
    animation-name: showSidebar;
    animation-fill-mode: forwards;
    animation-duration: 0.3s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .headersection {
    display: flex;
    color: #3a3a3a;
    border-bottom: 1px solid hsl(0deg, 0%, 88%);
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--spacing, 10px);
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 5;
  }

  .footerSection {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    border-top: 1px solid hsl(0deg, 0%, 88%);
    background-color: white;

    & > *:not(:first-child) {
      margin-left: 8px;
    }

    position: sticky;
    bottom: 0;
    z-index: 5;
  }

  .content {
    padding: var(--spacing, 10px);
    height: calc(100% - calc(64px + 37px));
    overflow-y: auto;
    position: relative;
  }

  .formHead {
    position: relative;
    h2 {
      font-size: 0.8rem;
      color: inherit;
    }
  }

  .dates {
    position: relative;
  }

  .centerText {
    position: absolute;
    top: 30%;
    text-align: center;
    left: 10px;
    right: 10px;
    transform: translateY(-50%);
  }

  .fixedBottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
  }
}

@keyframes showSidebar {
  100% {
    transform: translateX(0);
  }
}
