.sidebarContainer {
  --sidebar-width: 440px;
  --spacing: 12px;

  position: absolute;
  top: 0;
  bottom: 1px;
  right: -105%;
  z-index: 2;
  width: var(--sidebar-width);
  transition: right 0.5s;
  background-color: white;
  // box-shadow: var(--ds-shadow-overlay, 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(9, 30, 66, 0.08));
  box-shadow: 0px 5.64929px 70.6161px rgba(0, 0, 0, 0.1);
  // border-radius: 8.47393px;
  overflow: hidden;

  &.active {
    right: 0px;
  }

  .headersection {
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: var(--spacing, 10px);
    background-color: var(--primary-light);
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .footerSection {
    flex: 0 0 auto;
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: flex-end;
    background: #ebebeb;
    & > *:not(:first-child) {
      margin-left: 8px;
    }
    position: sticky;
    bottom: 0;
    z-index: 5;
  }
  .content {
    padding: var(--spacing, 10px);
    height: calc(100% - calc(64px + 39px));
    overflow-y: auto;
  }
  .formHead {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background-color: lightgray;
      bottom: 0;
    }
    h2 {
      font-size: 0.8rem;
      color: inherit;
    }
  }
}
