.tabContainerPos {
  --button-size: 30px;
  overflow: hidden;
  .tabContainer {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .button {
    background-color: transparent;
    width: var(--button-size, 40px);
    height: var(--button-size, 40px);
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    display: block;
    border: 0;
    color: #000000;
    border-radius: 5px;
    flex-shrink: 0;

    &:active {
      background-color: var(--new_theme_color);
      color: white;
    }
    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 24px;
    }
  }
  .TabContents {
    display: flex;
    overflow-x: auto;
    overflow: hidden;
  }
  .tabs {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
    .sliderContainer {
      display: flex;
      white-space: nowrap;
      transition: 0.3s;
      min-width: 100%;
    }
  }
  .singleTab {
    height: 100%;
    min-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
  }
}
