.singleCard {
  --card-padding: 15px;
  padding: var(--card-padding, 8px);
  margin-bottom: 15px;
  position: relative;
  border-radius: 8px;
  border: 1px solid var(--common-border-color);
  background-color: var(--dark-primary, white);
  transition:
    transform 0.2s,
    background 0.3s;

  &:hover {
    transform: scale(1.01);
  }

  .passFail {
    position: absolute;
    top: var(--card-padding, 8px);
    right: var(--card-padding, 8px);
    cursor: pointer;
  }
  .checkBox {
    position: absolute;
    top: 18px;
    left: 13px;
  }

  .cardTitle {
    h5 {
      font-size: 15px;
      font-weight: 600;
      line-height: 1.57;
    }
    margin-bottom: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid var(--common-border-color);
  }
  .cardDetails {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.57;
    display: grid;
    grid-template-columns: 13ch 1fr;
    gap: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      font-weight: 600;
    }
  }

  .chip {
    max-width: max-content;
    background-color: var(--border);
    color: var(--color);
  }
}
.singleCol {
  position: relative;
}
.colTitle {
  position: sticky;
  top: 0;
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: var(--section-bg);
  padding: 14px 13px;
  z-index: 5;
  border-radius: 8px;
  font-weight: 700 !important;
  font-size: 0.95rem !important;
}

.container {
  --section-bg: transparent;
  padding: 0 0px;
  height: max(74vh, 600px);
  overflow: hidden;
  max-width: 100%;
}
.timer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-weight: 500;
  font-size: 13px;
  line-height: 10px;
  color: rgb(139, 139, 139);
  svg {
    font-size: 13px;
    display: block;
    margin-right: 3px;
  }
}
.cardDetailsLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    text-decoration: underline;
  }
}
