.AntTab {
  span.MuiTab-wrapper {
    flex-direction: row;

    .MuiSvgIcon-root {
      margin-bottom: 0 !important;
      margin-right: 10px !important;
    }
    .MuiTabs-flexContainer{
      flex-direction: column-reverse ;
    }
  }
 
 
}
