.sidebar_nav {
  padding: 10px;
  height: calc(100vh - 109px);
  overflow: auto;
}

.single_category {
  margin: 0.8rem;

  &_name {
    color: var(--colorContact);
    margin: 0.2rem;
    font-weight: 600;
  }

  &_icon {
    color: var(--colorContact);
  }
}

.rating {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .sidebar_nav {
    width: 100%;
    margin-top: 1rem;
    max-height: 45rem;

    overflow-y: scroll;
  }
}
