.dashboard_layout {
  display: grid;
  grid-template-columns: minmax(200px, 441px) minmax(350px, 900px);
  padding: 2.75rem 0 5.875rem;
  grid-gap: 40px;
  justify-content: space-between;
}
.hero_container {
  margin-top: 30px;
}
.filtered_data {
  max-height: 600px;
  overflow-y: scroll;
}

.hero_heading {
  font-weight: 700;
  line-height: 153%;
  color: #2a3042;
  margin: 0 0 24px;
  font-size: clamp(20px, 5vw, 30px);
}
.hero_paragraph {
  font-weight: 500;
  line-height: 135.02%;
  color: rgba(0, 0, 0, 0.5);
  font-size: clamp(16px, 5vw, 20px);
}

.crm_hero_image {
  max-width: 100%;
  display: block;
  margin-top: 99px;
}

.view_button {
  color: #43aea7 !important;
  margin: 20px 0 !important;
  padding: 0 !important;
}
.hover_list_box {
  margin: 0px;
}

.search_section {
  display: flex;
  margin-bottom: 1.875rem;
}
.custom_form_button {
  padding: 12px 34px;
  background-color: #41aeaa;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-left: 14px;
  box-shadow: 0px 4px 10px rgba(65, 174, 170, 0.27);
  border-radius: 4px;
  transition: background 0.4s;
  cursor: pointer;
  outline: none;
  border: 0;
  &:hover {
    background-color: var(--primary);
  }
}

.search_input {
  background: #f4f4f4;
  border-radius: 2px;
  outline: none;
  position: relative;
  border: 0;
  width: 100%;
  overflow: hidden;
  input {
    border-radius: 2px;
    padding: 12px 23px 12px 55px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    outline: 0;
    width: 100%;
    border: 2px solid transparent;
    outline: none;
    background-color: transparent;
    transition: border 0.3s;
    &:focus {
      border-color: #41aeaa;
    }
  }
  .searchIcon svg {
    position: absolute;
    left: 23px;
    top: 50%;
    transform: translateY(-50%);
    fill: #7e818c;
  }
  .clear_icon svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    fill: #7e818c;
    cursor: pointer;
  }
}

@media all and (max-width: 1286px) {
  .dashboard_layout {
    align-items: unset;
  }
}
@media all and (max-width: 1155px) {
  .dashboard_layout {
    grid-template-columns: 1fr;
  }
  .hero_container {
    margin: 0 auto;
    max-width: 600px;
    text-align: center;
  }
  .crm_hero_image {
    margin: 29px auto 0;
  }
}
@media all and (max-width: 567px) {
  .hero_heading {
    margin-bottom: 15px;
  }
}
.list_component {
  margin: 0 !important;
  padding: 0;
}
.hover_list_box {
  margin: 0;
}
.list_header {
  background-color: #41aeaa;
  color: #fff;
  border-radius: 4px;
  padding: 12px 16px;
  position: sticky;
  top: 0;
  z-index: 1;
}
