.email-list .MuiDataGrid-cell {
    font-size: 16px;
    border: none !important;
}

.email-list .MuiDataGrid-row {
    &.Mui-odd {
        background-color: white !important;
    }
    border-bottom: 1px solid #e7e7e7;
}
