.cursor-pointer:hover {
  cursor: pointer !important;
}

.cursor-stop:hover {
  cursor: no-drop !important;
}

.not-allowed:hover {
  cursor: not-allowed !important;
}

.h-100 {
  height: 100% !important;
}

.w-100 {
  width: 100% !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-transform-none {
  text-transform: none !important;
}

.d-none {
  display: none !important;
}

.d-flex {
  display: flex !important;
}

.justify-content-space-between {
  justify-content: space-between !important;
}

.justify-content-space-evenly {
  justify-content: space-evenly !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center !important;
}

.align-items-stretch {
  align-items: stretch !important;
}
.align-self-center {
  align-self: center;
}

.align-items-baseline {
  align-items: baseline !important;
}

.flex-wrap {
  flex-wrap: wrap !important;
}

.flex-no-wrap {
  flex-wrap: nowrap !important;
}

.flex-column {
  flex-direction: column !important;
}

.vertical-align-top {
  vertical-align: top !important;
}

.text-wrap {
  white-space: normal !important;
}

.word-break {
  word-break: break-word !important;
}

.text-white {
  color: var(--white) !important;
}

.spacing-1 {
  gap: 5px;
  @media all and (max-width: 768px) {
    gap: 2px;
  }
}
.spacing-2 {
  gap: 10px;
}

// $offset: 1;
// $max: 50;

// @mixin list-loop($className, $styleName, $unit) {
//     $i: 0;
//     @while $i <= $max {
//         #{$className + $i} {
//             #{$styleName}: #{$i + $unit} !important;
//         }
//         $i: $i + $offset;
//     }
// }

// Margins
// @include list-loop(".mt-", "margin-top", "px");
// @include list-loop(".mr-", "margin-right", "px");
// @include list-loop(".mb-", "margin-bottom", "px");
// @include list-loop(".ml-", "margin-left", "px");
// @include list-loop(".m-", "margin", "px");

// // Paddings
// @include list-loop(".pt-", "padding-top", "px");
// @include list-loop(".pr-", "padding-right", "px");
// @include list-loop(".pb-", "padding-bottom", "px");
// @include list-loop(".pl-", "padding-left", "px");
// @include list-loop(".p-", "padding", "px");

// Used below mixin to generate some fixed sized size

.border-top {
  border-top: 1px solid var(--common-border-color) !important;
}

.border-bottom {
  border-bottom: 1px solid var(--common-border-color) !important;
}

.border-left {
  border-left: 1px solid var(--common-border-color) !important;
}

.border-right {
  border-right: 1px solid var(--common-border-color) !important;
}

.border-0 {
  border: 0 !important;
}

.grey {
  color: grey !important;
}

.lightgrey {
  color: lightgrey !important;
}

.m-auto {
  margin: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

$directions: top, bottom, left, right;
@each $direction in $directions {
  #{'.border-' + $direction + '-0'} {
    #{"border-" + $direction}: 0 !important;
  }
}

$offset: 1;
$sizes: 0, 0.25rem, 0.5rem, 0.75rem, 1rem, 1.25rem;
@mixin fixed-list-loop($className, $styleName, $unit) {
  $i: 0;
  @each $size in $sizes {
    .#{$className + $i} {
      #{$styleName}: #{$size} !important;
    }
    $i: $i + $offset;
  }

  $i: 0;
  @media (min-width: 640px) {
    @each $size in $sizes {
      .sm\:#{$className + $i} {
        #{$styleName}: #{$size} !important;
      }
      $i: $i + 1;
    }
  }

  $i: 0;
  @media (min-width: 768px) {
    @each $size in $sizes {
      .md\:#{$className + $i} {
        #{$styleName}: #{$size} !important;
      }
      $i: $i + 1;
    }
  }

  $i: 0;
  @media (min-width: 1024px) {
    @each $size in $sizes {
      .lg\:#{$className + $i} {
        #{$styleName}: #{$size} !important;
      }
      $i: $i + 1;
    }
  }

  $i: 0;
  @media (min-width: 1280px) {
    @each $size in $sizes {
      .xl\:#{$className + $i} {
        #{$styleName}: #{$size} !important;
      }
      $i: $i + 1;
    }
  }

  $i: 0;
  @media (min-width: 1280px) {
    @each $size in $sizes {
      .\32xl\:#{$className + $i} {
        #{$styleName}: #{$size} !important;
      }
      $i: $i + 1;
    }
  }
}

// Margins
@include fixed-list-loop('mt-', 'margin-top', 'rem');
@include fixed-list-loop('mr-', 'margin-right', 'rem');
@include fixed-list-loop('mb-', 'margin-bottom', 'rem');
@include fixed-list-loop('ml-', 'margin-left', 'rem');
@include fixed-list-loop('m-', 'margin', 'rem');
@include fixed-list-loop('mx-', 'margin-inline', 'rem');
@include fixed-list-loop('my-', 'margin-block', 'rem');

// Paddings
@include fixed-list-loop('pt-', 'padding-top', 'rem');
@include fixed-list-loop('pr-', 'padding-right', 'rem');
@include fixed-list-loop('pb-', 'padding-bottom', 'rem');
@include fixed-list-loop('pl-', 'padding-left', 'rem');
@include fixed-list-loop('p-', 'padding', 'rem');
@include fixed-list-loop('px-', 'padding-inline', 'rem');
@include fixed-list-loop('py-', 'padding-block', 'rem');

// Font size
@include fixed-list-loop('font-size-', 'font-size', 'rem');

@include fixed-list-loop('border-radius-', 'border-radius', 'rem');

.light-grey-bg {
  background-color: var(--dark-secondary, var(--lightgrey)) !important;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-white {
  background-color: var(--white) !important;
}

.bg-grey {
  background: var(--lightgrey) !important;
}

.grey {
  color: var(--lightgrey) !important;
}

.pull-right {
  text-align: right !important;
}
.text-align-center {
  text-align: center !important;
}
.pull-left {
  text-align: left !important;
}
.detailHeaderDashboard {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 20px;
}
.formActioButton {
  border: 1px solid #d9d8d8;
}

@keyframes blink {
  50% {
    opacity: 0.5;
  }
}
@-webkit-keyframes blink {
  50% {
    opacity: 0.5;
  }
}

.blink {
  animation: blink 1s linear 10;
  -webkit-animation: blink 1s linear 10;
}

@media only screen and (max-width: 600px) {
  .detailHeaderDashboard {
    display: none !important;
  }
}

.z-index-auto {
  z-index: auto !important;
}

$sizes: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;
@mixin fixed-list-loop($className, $styleName) {
  $i: 1;
  @each $size in $sizes {
    #{$className + $i} {
      #{$styleName}: #{$size} !important;
    }
    $i: $i + $offset;
  }
}

// Margins
@include fixed-list-loop('.z-index-', 'z-index');

.font-weight-bold {
  font-weight: bold !important;
}

.rotate {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.custom-strike {
  text-decoration: line-through !important;
}

.container {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 10%);
}

.containerNew {
  margin-right: auto;
  margin-left: auto;
  width: calc(100% - 10%);
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

@media screen and (max-width: 1026px) {
  .containerNew {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 5%);
  }
}
