$isPurchaseOrder: #ffcf78;
$isSublease: #ffe4c0;
$isTransferAsset: #ecc19c;
$isAppliedBill: #a8ec9c;

$isPurchaseOrderDark: #754e07;
$isSubleaseDark: #826325;
$isTransferAssetDark: #9b6c44;
$isAppliedBillDark: #234623;

.td-color {
  &.isAppliedBill {
    background: $isAppliedBill;
    [data-mode='dark'] & {
      background-color: $isAppliedBillDark;
    }
  }

  &.isPurchaseOrder {
    background: $isPurchaseOrder;
    [data-mode='dark'] & {
      background-color: $isPurchaseOrderDark;
    }
  }

  &.isSublease {
    background: $isSublease;
    [data-mode='dark'] & {
      background: $isSubleaseDark;
    }
  }

  &.isTransferAsset {
    background: $isTransferAsset;
    [data-mode='dark'] & {
      background-color: $isTransferAssetDark;
    }
  }

  &.isTransferAsset {
    background: $isTransferAsset;
    [data-mode='dark'] & {
      background-color: $isTransferAssetDark;
    }
  }

  &.isService {
    background: #fffaef;
    [data-mode='dark'] & {
      background-color: #23233d;
    }
  }

  &.footerRow {
    & * {
      font-size: 14px !important;
      font-weight: 700 !important;
    }
  }

  &.error {
    background: var(--error-bg);
  }
}

.custom-react-table {
  // padding: 1rem;
  .MuiTableCell-root {
    border-bottom: 1px solid var(--common-border-color, #ddd);
  }

  .table {
    // border: 1px solid #ddd;
    .tr {
      background: #fff;
      [data-mode='dark'] & {
        background: var(--dark-primary);
      }

      :last-child {
        .td {
          border-bottom: 0;
        }
      }
    }

    .tr:nth-of-type(even) {
      background: white;
      [data-mode='dark'] & {
        background: var(--dark-primary);
      }
    }

    .th[data-sticky-td='true'] {
      background: white;
      [data-mode='dark'] & {
        background: var(--dark-primary);
      }
    }

    .table-header {
      padding: 8px !important;
      background-color: white !important;
      [data-mode='dark'] & {
        background: var(--dark-primary) !important;
      }
      //color: white !important;
      border-right: 1px solid var(--dark-mode-border-color, #ddd) !important;
    }

    .th {
      padding: 5px;
      //border-right: 1px solid #ddd;
      background: white;
      [data-mode='dark'] & {
        background: var(--dark-primary);
        color: white;
      }
      overflow: hidden;

      // :last-child {
      //   border-right: 0;
      // }

      .resizer {
        display: inline-block;
        width: 5px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%);
        z-index: 1;

        &.isResizing {
          background: red;
        }
      }
    }

    .td[data-sticky-td='true'] {
      background: inherit;
    }

    .td.error[data-sticky-td='true'] {
      background: var(--error-bg) !important;
    }

    .td.isAppliedBill[data-sticky-td='true'] {
      background: $isAppliedBill !important;
      [data-mode='dark'] & {
        background-color: $isAppliedBillDark !important;
      }
    }

    .td.isPurchaseOrder[data-sticky-td='true'] {
      background: $isPurchaseOrder !important;
      [data-mode='dark'] & {
        background-color: $isPurchaseOrderDark !important;
      }
    }

    .td.isSublease[data-sticky-td='true'] {
      background: $isSublease !important;
      [data-mode='dark'] & {
        background: $isSubleaseDark !important;
      }
    }

    .td.isTransferAsset[data-sticky-td='true'] {
      background: $isTransferAsset !important;
      [data-mode='dark'] & {
        background-color: $isTransferAssetDark !important;
      }
    }

    .td {
      padding: 5px 8px;
      //border-bottom: 1px solid #ddd;
      //border-right: 1px solid #ddd;

      .error {
        border-bottom: 1px solid #efcccc;
        //border-right: 1px solid #efcccc;
      }

      .isAppliedBill {
        background: $isAppliedBill;
        border-bottom: 1px solid $isAppliedBill;
        [data-mode='dark'] & {
          background-color: $isAppliedBillDark !important;
          border-bottom: 1px solid $isAppliedBillDark;
        }
      }

      .isPurchaseOrder {
        background: $isPurchaseOrder;
        border-bottom: 1px solid $isPurchaseOrder;
        [data-mode='dark'] & {
          background-color: $isPurchaseOrderDark;
          border-bottom: 1px solid $isPurchaseOrderDark;
        }
        //border-right: 1px solid $isPurchaseOrder;
      }

      .isSublease {
        background: $isSublease;
        border-bottom: 1px solid $isSublease;
        [data-mode='dark'] & {
          background: $isSubleaseDark;
          border: $isSubleaseDark;
        }
        //border-right: 1px solid $isSublease;
      }

      .isTransferAsset {
        background: $isTransferAsset;
        border-bottom: 1px solid $isTransferAsset;
        [data-mode='dark'] & {
          background-color: $isTransferAssetDark;
          border-bottom: 1px solid $isTransferAssetDark;
        }
        //border-right: 1px solid $isTransferAsset;
      }

      // background-color: #fff;
      overflow: hidden;

      // :last-child {
      //   border-right: 0;
      // }

      .resizer {
        display: inline-block;
        background: black;
        width: 10px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        transform: translateX(50%);
        z-index: 1;
        touch-action: none;
        // &.isResizing {
        //     background: red;
        // }
      }
    }

    &.sticky {
      .header,
      .footer {
        position: sticky;
        z-index: 1;
        width: fit-content;

        td {
          padding-left: 7px;
          padding-right: 7px;
        }
      }

      .header {
        top: 0;
        background: #f0f2f3;
        // box-shadow: 0px 3px 3px #ccc;
      }

      .footer {
        bottom: 0;
        background: #f0f2f3;
        // box-shadow: 0px -3px 3px #ccc;
      }

      .body {
        position: relative;
        z-index: 0;

        td.isAppliedBill {
          background: $isAppliedBill;
          [data-mode='dark'] & {
            background-color: $isAppliedBillDark;
          }
        }

        td.isPurchaseOrder {
          background: $isPurchaseOrder;
          [data-mode='dark'] & {
            background-color: $isPurchaseOrderDark;
          }
        }

        td.isSublease {
          background: $isSublease;
          [data-mode='dark'] & {
            background: $isSubleaseDark;
          }
        }

        td.isTransferAsset {
          background: $isTransferAsset;
          [data-mode='dark'] & {
            background-color: $isTransferAssetDark;
          }
        }

        td.isTransferAsset {
          background: $isTransferAsset;
          [data-mode='dark'] & {
            background-color: $isTransferAssetDark;
          }
        }

        td.error {
          background: var(--error-bg);
        }

        td.dark-gray {
          background: var(--dark-gray, #faeae9);
        }

        td.dark-gray-1 {
          background: var(--dark-gray, #d3d3d3);
        }

        td.dark-green {
          background: var(--dark-green, #dbf8db);
        }

        td.dark-yellow {
          background: var(--dark-yellow, #ffd580);
        }
      }

      [data-sticky-td] {
        position: sticky;
      }

      [data-sticky-last-left-td] {
        border-right: 0px solid var(--dark-mode-border-color, #ddd);
      }

      [data-sticky-first-right-td] {
        border-left: 0px solid var(--dark-mode-border-color, #ddd);
      }
    }
  }
}

.custom-react-table-v1 {
  .tableFilterSearch {
    position: absolute;
    overflow: hidden;
    transition: all 0.3s;
    height: 0;
    top: calc(100% + 2px);
    min-width: 146px;
    width: calc(100% + 13px);
    right: -7px;
    background: #ffffff;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
    border-radius: 17px;

    &.open {
      height: 37px;
    }
    input {
      padding: 11px 34px 11px 15px;
      border-radius: 17px;
      border: none;
      outline: none;
      transition: all 0.3s;
      width: 100%;
      outline-color: lightgray;
      &:hover,
      &:focus {
        outline: none;
        outline: 1px solid lightgray;
      }
    }

    svg {
      opacity: 0;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #393939;
      transition: all 0.3s;

      &:hover {
        color: var(--warning-light);
      }
    }
    &:hover,
    &:focus,
    &:focus-within {
      svg {
        opacity: 1;
      }
    }
    svg {
      opacity: 0;
    }
  }
  & .table {
    --last-child-fallback-width: 100px;
    @media all and (min-width: 768px) {
      --last-child-width: 115px;
    }

    .td {
      &:last-of-type {
        min-width: var(--last-child-width, var(--last-child-fallback-width)) !important;
        padding-right: 37px !important;
      }
    }
    .th {
      overflow: unset;
      &:last-of-type {
        min-width: var(--last-child-width, var(--last-child-fallback-width)) !important;
        padding-right: 37px !important;
      }
    }
  }

  .activeFilter {
    position: relative;
    &::before {
      content: '';
      position: absolute;
      background-color: #df9000;
      width: 5px;
      height: 5px;
      top: 0;
      right: 0px;
      border-radius: 100vmax;
    }
  }
}

.editable-table-v1 {
  th.th {
    font-weight: 500 !important;
    font-size: 12.6448px !important;
    line-height: 18px !important;
    color: #1d1d1d !important;
  }
  &:not(.without-virtualization) tfoot.footer td {
    font-weight: 500 !important;
    font-size: 12.6448px !important;
    line-height: 18px !important;
    color: #1d1d1d !important;
  }
  .full-height-cell {
    height: 100%;
    display: grid;
    align-items: center;
    p {
      font-weight: 400 !important;
      font-size: 13px !important;
      line-height: 19px !important;
      & + div {
        margin-left: 0 !important;
        svg {
          font-size: 18px;
        }
      }
    }
  }
}

.react-table-v8 {
  font-family: Poppins, sans-serif, Inter, sans-serif;
  & td *:not(.MuiChip-root):not(svg) {
    font-weight: 400;
    font-size: 13px;
  }
  & th *:not(svg) {
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 600;
  }
  th {
    border-bottom: 0px !important;
  }

  & td {
    .html-custom-tooltip,
    .MuiIconButton-root {
      flex-shrink: 0;
    }
  }

  .sticky-cell-left:nth-last-child(1 of .sticky-cell-left) {
    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0px;
      width: 1px;
      height: 100%;
      background-color: var(--common-border-color, rgba(224, 224, 224, 1));
    }
    // border-right: 1px solid var(--common-border-color, rgba(224, 224, 224, 1));
  }

  .sticky-cell-right:nth-child(1 of .sticky-cell-right) {
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 1px;
      height: 100%;
      background-color: var(--common-border-color, rgba(224, 224, 224, 1));
    }
    // border-left: 1px solid var(--common-border-color, rgba(224, 224, 224, 1));
  }

  // & thead > tr > th::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   bottom: 0px;
  //   width: 100%;
  //   height: 1px;
  //   background-color: var(--common-border-color, rgba(224, 224, 224, 1));
  // }

  thead {
    max-height: 45px;
    th {
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 1px;
        background-color: var(--common-border-color, rgba(224, 224, 224, 1));
      }
    }
  }
  tbody:not(.with-footer) tr {
    border-bottom: 1px solid var(--common-border-color);
  }
  tbody.with-footer {
    & div.tr:not(:last-child) tr {
      border-bottom: 1px solid var(--common-border-color);
    }
  }
  .MuiTableCell-root {
    border-bottom: unset;
  }
  th {
    padding: 5px 8px;
  }
  th,
  tr,
  .th {
    height: 45px;

    & > * {
      height: 100%;
    }
  }

  th {
    position: relative;
    &:not(:nth-last-child(2)):not(:last-child)::after {
      content: '';
      position: absolute;
      right: 0px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: var(--common-border-color, rgba(224, 224, 224, 1));
    }
    &:last-child::after {
      content: '';
      position: absolute;
      left: 0px;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: var(--common-border-color, rgba(224, 224, 224, 1));
    }
  }

  tbody tr:not(:last-child) td {
    // border-bottom: 1px solid var(--common-border-color);
  }

  tfoot {
    tr {
      border-top: 1px solid var(--common-border-color);
      border-bottom: 1px solid var(--common-border-color);
    }
    th {
      text-align: left;
      &::after {
        display: none;
      }
      &::after {
        top: 0;
      }
    }
  }
  .resizer {
    cursor: col-resize;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    width: 5px;
    cursor: col-resize;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
  }
  .drag-icon {
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.3s;
  }
  th:hover {
    .drag-icon {
      opacity: 1;
    }
  }
  .search-container {
    .activeFilter {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        background-color: #df9000;
        width: 5px;
        height: 5px;
        top: 0;
        right: 0px;
        border-radius: 100vmax;
      }
    }
    svg {
      font-size: 18px;
    }
    & > button {
      margin-right: 5px;
    }
    .tableFilterSearch {
      position: absolute;
      overflow: hidden;
      transition: all 0.3s;
      height: 37px;
      top: -37px;
      left: 0;
      right: 0;
      z-index: 11;
      min-width: 146px;
      background: #ffffff;

      border-radius: 17px;

      &.open {
        top: 5px;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
        bottom: 0;
      }
      input {
        padding: 7px 34px 7px 15px;
        border-radius: 17px;
        border: none;
        outline: none;
        transition: all 0.3s;
        width: 100%;
        outline-color: lightgray;
        &:hover,
        &:focus {
          outline: none;
          outline: 1px solid lightgray;
        }
      }

      svg {
        opacity: 0;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #393939;
        transition: all 0.3s;

        &:hover {
          color: var(--warning-light);
        }
      }
      &:hover,
      &:focus,
      &:focus-within {
        svg {
          opacity: 1;
        }
      }
      svg {
        opacity: 0;
      }
    }
  }
}
.react-table-v8 {
  .without-virtualization {
    tfoot {
      position: static !important;
      th {
        position: sticky;
      }
    }
  }
}
