:root {
  --primary: #163340; //#003f57;
  --primary-light: #163340;
  --secondary: #047d1c;
  --tertiary: #a0fffb;
  --tertiary-light: #75e2dd;
  --error: #dc3545;
  --info: #03afe2;
  --success: #28a745;
  --link: #04279a;
  --white: #ffffff;
  --aliceblue: aliceblue;

  --warning: #fd7e14;
  --white: #fff;
  --warning-light: #ffc766;
  --black: #000;
  --success-light: #5dd879;
  --success-dark: #1e7e34;
  --skin: #ff937a;
  --text: #fff;
  --lightgray: #a5a3a3;
  --brown: #865603;
  --warning-darken: #cc8200;
  --info-dark: #0288b0;
  --info-darken: #02617d;
  --danger-light: #ea5240;
  --teal: #1e7682;
  --theme-text: #fff;
  --grey: #838485;
  --lightgrey: lightgrey;

  --common-border-color: #dee2e6;

  --box-shadow: "rgb(23 43 77 / 20%) 0px 1px 1px, rgb(23 43 77 / 20%) 0px 0px 1px";

  --colorOpportunity: #d46101;
  --colorLeads: #1e7e34;
  --colorContact: #003f57;
  --colorAccount: red;
  --colorProject: yellow;
}

@import "~ag-grid-community/dist/styles/ag-theme-material/sass/_ag-theme-material-mixin.scss";
.ag-theme-material {
  @include ag-theme-material(
    (
      material-primary-color: var(--primary),
      material-accent-color: var(--primary-light),
      input-focus-border-color: red,
      range-selection-background-color: red,
    )
  );
}

.ag-theme-material .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
  border: 1px solid lightgray !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Nunito Sans, sans-serif !important;
  font-size: 0.8rem;
  // background-color: var(--aliceblue) !important;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 6px #343637;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ada7a7cc;
}

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #9e9ea5;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #969696;
  border-color: #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

/* MAC like scrollbar - End */

a {
  text-decoration: none;
  color: inherit;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* body::-webkit-scrollbar {
  background-color: #fff;
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 2px solid #fff;
} */

/* Custom Select Search CSS */

/**
 * Main wrapper
 */
.select-search {
  width: 100%;
  position: relative;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/**
 * Input
 */
.select-search__input {
  display: block;
  height: 42px;
  width: 100%;
  padding: 0 16px;
  background: #f8fafc;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select {
  background: #fff;
  padding: 16px;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
 * Options
 */
.select-search__options {
  list-style: none;
}

/**
 * Option row
 */
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;

  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search__option.is-selected {
  background: #edf7ff;
  color: #222;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: #edf7ff;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #edf7ff;
  color: #222;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #edf7ff;
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}

.listing-grid {
  height: calc(100vh - 18rem);
  padding: 0 0.3rem 0.3rem;
}

.listing-grid-header-options {
  margin: 0 0.3rem 0rem;
  background: #f0f2f3 !important;
}

.form-label-style:nth-child(1) {
  margin-top: 0.5rem;
}

.form-label-style {
  color: var(--secondary);
  font-size: 0.8rem;
  margin-top: 1.5rem;
  border-bottom: 3px solid var(--secondary);
  margin-bottom: 10px;
  padding: 0 0 0 2px;
  text-align: left;
}

.link {
  color: var(--link) !important;
}

.link:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.header-links {
  position: absolute;
  top: 4.3rem;
  right: 0;
}
.header-panel {
  color: var(--secondary);
  background-color: #ffffff !important;
  padding: 8px 10px;
  border-radius: 6px 6px 0 0;

  & .MuiButton-outlinedSizeSmall {
    padding: 2px 9px !important;
  }

  & .MuiToggleButton-sizeSmall {
    padding: 4px 8px !important;
  }

  & .MuiOutlinedInput-inputMarginDense {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
}
.listingHeader {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--secondary);
  padding-right: 10px;

  &.single {
    padding: 2px;
  }
}

.headerLogo {
  font-size: 1.15rem;
  color: var(--secondary);
  margin-left: 4px;
}

.text-primary {
  color: var(--primary);
}

.text-error {
  color: var(--error);
}

.text-success {
  color: var(--success);
}

.text-center {
  text-align: center !important;
}

.bg-white {
  background: var(--white) !important;
}

.main-container {
  margin: 0 1.5rem;
  position: absolute;
  top: 99px;
  width: calc(100% - 6rem); //3rem sidebar + 1.5rem*2 margin from left and right = 6rem
  background: white;
  border-radius: 10px 10px 0 0;
  box-shadow: 0 3px 5px #6f6d6d;
  height: calc(100vh - 15.5vh);
  overflow: auto;
}

.detail-container {
  position: absolute;
  top: 90px;
  padding: 10px;
  width: calc(100% - 2.8rem) !important;
}

.subContainer {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100vh - 116px);
}

.badge-date {
  background: #ebf9ff;
  padding: 0px 6px;
  border-radius: 2px;
  float: right;
  margin-left: 2px;
  color: #001520;
  float: right;
  text-align: right;
  align-items: inherit;
  display: flex;
  font-weight: bold;
  font-size: 0.6rem;
  border: 1px solid #bbd5e0;
  margin-left: 6px;
}
.export-import-link {
  position: absolute;
  top: 4.2rem;
  color: white;
  right: 2rem;
}
.updatedAtTime,
.createdAtTime {
  font-size: 0.6 rem;
  line-height: 1 rem;
  display: block;
}
.updateBy,
.createBy {
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  font-weight: normal;
}

.oms-tab {
  border-bottom: 1px solid #ecf1f3;
  background: #f5f5f5;
  min-height: auto !important;
}
.detail-box {
  padding: 10px 20px;
}

.detailHeader {
  padding: 10px;
  background: #f5f5f5;
  border-bottom: 1px solid #e9e9e9;
  border-radius: 6px 6px 0 0;
}

.activityDetailBox {
  margin: 0px 8px 12px;
  border-top: none;

  .activity {
    padding: 6px 10px;
    background: white;
    border-left: 4px solid var(--secondary);
    margin: 8px 0;
    border-radius: 7px;

    .activity-date {
      font-size: 0.8rem;
      padding-top: 2px;
      padding-left: 6px;
      color: #7b898e;
    }
  }
}

.custom-chip {
  // background-color: transparent !important;
  // border-radius: 3px !important;
  // border: 1px solid #f2eded !important;
}

.quickLinks {
  text-align: center;
  padding: 10px;
  border-radius: 0 !important;
  font-size: 0.5rem;
  height: 6rem;
  cursor: pointer;

  &.account {
    background: #e9fbff;
    color: #00bcd4;
  }

  &.contact {
    background: #fceae5;
    color: #ac300b;
  }

  &.quotes {
    background: #effbf1;
    color: #07a213;
  }

  &.opportunity {
    background: #f8ebff;
    color: #7706ac;
  }

  &.project {
    background: #d9eeff;
    color: #546e7a;
  }

  &.teams {
    background: #fffaf0;
    color: #cf7b00;
  }

  p {
    font-size: 0.8rem !important;
    font-weight: bold !important;
  }
}

.activityContainer {
  padding: 10px;
  height: calc(100vh - 11.4rem);
  overflow: auto;
}

.btn-view {
  background: #eaffee;
  color: var(--secondary);
  font-weight: bold;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  cursor: pointer;
}

.detailCardHeader {
  align-items: center;
  padding: 0 0 6px 0px;
}

.amount {
  font-weight: 500 !important;
  float: right;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.roles-table {
  table {
    border-collapse: collapse;
  }
  & thead {
    & tr {
      border-bottom: 1px solid #e4e4e4;
      & th {
        padding: 0px 15px !important;
      }
    }
  }

  & tbody {
    & tr {
      border-bottom: 1px solid #e4e4e4;
      & td {
        padding: 0px 15px !important;

        & .tableMainHeader {
          font-size: 1rem;
          color: var(--secondary);
          font-weight: 500;
        }
      }
    }
  }
}

[data-initials]:before {
  background: #8a8a8a;
  color: white;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  font-weight: bold;
  border-radius: 50%;
  vertical-align: middle;
  width: 42px;
  height: 43px;
  line-height: 46px;
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.greyBox {
  background: #f0f0f0;
  padding: 10px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}
