:root {
  --primary: #163340; //#003f57;
  --primary-light: #163340;
  --secondary: #047d1c;
  --tertiary: #a0fffb;
  --tertiary-light: #75e2dd;
  --error: #dc3545;
  --info: #03afe2;
  --success: #28a745;
  --link: #04279a;
  --white: #ffffff;
  --aliceblue: aliceblue;
  --productRed: #fe6168;

  --warning: #fd7e14;
  --white: #fff;
  --warning-light: #ffc766;
  --black: #000;
  --success-light: #5dd879;
  --success-dark: #1e7e34;
  --skin: #ff937a;
  --text: #fff;
  --lightgray: #a5a3a3;
  --brown: #865603;
  --warning-darken: #cc8200;
  --info-dark: #0288b0;
  --info-darken: #02617d;
  --danger-light: #ea5240;
  --teal: #1e7682;
  --theme-text: #fff;
  --grey: #838485;
  --lightgrey: #ededed;

  --common-border-color: #dee2e6;

  --box-shadow: "rgb(23 43 77 / 20%) 0px 1px 1px, rgb(23 43 77 / 20%) 0px 0px 1px";

  --colorOpportunity: #d46101;
  --colorLeads: #1e7e34;
  --colorContact: #003f57;
  --colorAccount: red;
  --colorProject: yellow;
}

@import "~ag-grid-community/dist/styles/ag-theme-material/sass/_ag-theme-material-mixin.scss";
.ag-theme-material {
  border: 1px solid #eeeaea;
  @include ag-theme-material((
      font-family: (
        Nunito,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
      ),
      material-primary-color: var(--primary),
      material-accent-color: var(--primary-light),
      input-focus-border-color: red,
      range-selection-background-color: red,
      odd-row-background-color: #f5f3f3,
    )
  );
}
.ag-theme-material .ag-cell,
.ag-theme-material .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  line-height: 26px;
}
.ag-theme-material .ag-ltr .ag-has-focus .ag-cell-focus:not(.ag-cell-range-selected) {
  border: 1px solid lightgray !important;
}

.ag-theme-material input[class^="ag-"][type="text"] {
  padding-bottom: 2px;
  height: 20px;
}
.ag-react-container {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Nunito Sans, sans-serif !important;
  font-size: 0.8rem;
  // background-color: var(--aliceblue) !important;
}

.login-bg {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  background-image: url(./../assets/svg/bg1.svg);
  // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23d0d6d9' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23a2adb3' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%2373858c' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23455c66' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23163340' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: inset 0 0 6px #343637;
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ada7a7cc;
}

/* total width */
body::-webkit-scrollbar {
  background-color: #fff;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color: #9e9ea5;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #969696;
  border-color: #f4f4f4;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
  display: none;
}

/* MAC like scrollbar - End */

a {
  text-decoration: none;
  color: inherit;
}

#link-a {
  color: var(--link) !important;
}

#link-a:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#img-avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.grid-avatar {
  width: 25px !important;
  height: 25px !important;
}

/* body::-webkit-scrollbar {
  background-color: #fff;
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 2px solid #fff;
} */

/* Custom Select Search CSS */

/**
 * Main wrapper
 */
.select-search {
  width: 100%;
  position: relative;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/**
 * Input
 */
.select-search__input {
  display: block;
  height: 42px;
  width: 100%;
  padding: 0 16px;
  background: #f8fafc;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select {
  background: #fff;
  padding: 16px;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
 * Options
 */
.select-search__options {
  list-style: none;
}

/**
 * Option row
 */
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;

  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search__option.is-selected {
  background: #edf7ff;
  color: #222;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: #edf7ff;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #edf7ff;
  color: #222;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #edf7ff;
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}

.listing-grid {
  height: calc(100vh - 160px);
  padding: 0 4px 4px;

  & .MuiTablePagination-root:last-child {
    padding: 0;
    background: #f7f7f7;
    border: 1px solid #e9e8e8;
  }
}

.ag-grid-main {
  position: relative;
}

.ag-grid-main .loader {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.ag-grid-main .loader span {
  padding: 15px 25px;
  border: 1px solid lightgray;
  background: white;
  font-size: 1rem;
  letter-spacing: 1px;
  width: 150px;
  display: flex;
  justify-content: center;
}

.ag-grid-main .loader span:after {
  content: "";
  animation: dot-animation 2s infinite;
}

.loading-dots:after {
  content: "";
  animation: dot-animation 2s infinite;
}

@keyframes dot-animation {
  0% {
    content: ".";
  }
  40% {
    content: "..";
  }
  75% {
    content: "...";
  }
}

.ag-grid-listing-grid {
  height: calc(100vh - 260px);
  margin: 0 6px 0;
}

.agPagination {
  margin: 0px 5px;
  background: #f7f7f7;
  border: 1px solid #e9e8e8;
}

.ag-grid-listing-grid-header-options {
  margin: 0px 6px;
  background: #f0f2f3 !important;
}

.product-builder-edit-grid {
  height: calc(100vh - 430px);
  margin: 0 6px 0;
}

.form-label-style:nth-child(1) {
  margin-top: 0.5rem;
}

.form-label-style {
  color: var(--secondary);
  font-size: 0.8rem;
  padding: 0 0 0 6px;
  text-align: left;
  padding-bottom: 6px;
}

.link {
  color: var(--link) !important;
}

.link:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.header-links {
  position: absolute;
  top: 4.3rem;
  right: 0;
}
.header-panel {
  color: var(--secondary);
  background-color: #ffffff !important;
  padding: 8px 10px;
  border-radius: 6px 6px 0 0;

  & .MuiButton-outlinedSizeSmall {
    padding: 2px 9px !important;
  }

  & .MuiToggleButton-sizeSmall {
    padding: 4px 8px !important;
  }

  & .MuiOutlinedInput-inputMarginDense {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
  }
}
.listingHeader {
  font-size: 1.15rem;
  font-weight: bold;
  color: var(--secondary);
  padding-right: 10px;
  margin-left: 2px;

  &.single {
    padding: 2px;
    margin-left: 12px;
  }
}

.headerLogo {
  font-size: 1.15rem;
  color: var(--secondary);
  margin-left: 4px;
}

.text-primary {
  color: var(--primary);
}

.text-error {
  color: var(--error);
  font-size: 1.5rem;
}

.text-success {
  color: var(--success);
  font-size: 1.5rem;
}

.text-center {
  text-align: center !important;
}

.bg-white {
  background: var(--white) !important;
}

.main-container {
  min-height: calc(100vh - 99px);
  position: relative;
  overflow: auto;
  z-index: 1;
  margin: 10px;
  top: 36px;
  background: white;
  border-radius: 6px 6px 0 0;
  box-shadow: 0 3px 5px #6f6d6d;
  overflow-y: hidden;
}

.detail-container {
  height: calc(100vh - 98px);
  position: relative;
  top: 36px;
  padding: 0 10px 10px 10px;
  overflow: auto;
  z-index: 11;
  margin-top: 5px !important;
}

// .fixedRightPanel {
//   position: fixed;
//   height: calc(100vh - 107px);
//   width: 31.5%;
// }

.badge-date {
  background: #ebf9ff;
  padding: 0px 6px;
  border-radius: 2px;
  float: right;
  margin-left: 2px;
  color: #001520;
  float: right;
  text-align: right;
  align-items: inherit;
  display: flex;
  font-weight: bold;
  font-size: 0.6rem;
  border: 1px solid #bbd5e0;
  margin-left: 6px;
}
.export-import-link {
  position: absolute;
  top: 4.2rem;
  color: white;
  right: 2rem;
}
.updatedAtTime,
.createdAtTime {
  font-size: 0.6 rem;
  line-height: 1 rem;
  display: block;
}
.updateBy,
.createBy {
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
  font-weight: normal;
}

.oms-tab {
  border-bottom: 1px solid #ecf1f3;
  background: #f5f5f5;
  min-height: auto !important;
  margin-left: 4px;
}

.quote-tab {
  border-bottom: 3px solid #163340;
  background: #f5f5f5;
  min-height: auto !important;
}

.detail-box {
  padding: 10px 20px 0 20px;
}
.detail-box-content{
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
  background-color: var(--colorLeads);
  h3{
    padding: 0px;
    padding-top:1px;
    color: var(--white)
  }
}

.detailHeader {
  padding: 10px;
  background: #f5f5f5;
  border-bottom: 1px solid #e9e9e9;
  border-radius: 6px 6px 0 0;
}

.activityDetailBox {
  margin: 0px 8px 12px;
  border-top: none;

  .activity {
    padding: 6px 10px;
    background: white;
    border-left: 4px solid var(--secondary);
    margin: 8px 0;
    border-radius: 7px;

    .activity-date {
      font-size: 0.8rem;
      padding-top: 2px;
      padding-left: 6px;
      color: #7b898e;
    }
  }
}

.custom-chip {
  // background-color: transparent !important;
  // border-radius: 3px !important;
  // border: 1px solid #f2eded !important;
}

.quickLinks {
  text-align: center;
  padding: 10px;
  border-radius: 0 !important;
  font-size: 0.5rem;
  height: 6rem;
  cursor: pointer;

  &.account {
    background: #e9fbff;
    color: #00bcd4;
  }

  &.contact {
    background: #fceae5;
    color: #ac300b;
  }

  &.quotes {
    background: #effbf1;
    color: #07a213;
  }

  &.opportunity {
    background: #f8ebff;
    color: #7706ac;
  }

  &.project {
    background: #d9eeff;
    color: #546e7a;
  }

  &.teams {
    background: #fffaf0;
    color: #cf7b00;
  }

  p {
    font-size: 0.8rem !important;
    font-weight: bold !important;
  }
}

.activityContainer {
  padding: 10px;
  height: calc(100vh - 11.4rem);
  overflow: auto;
}

.btn-view {
  background: #eaffee;
  color: var(--secondary);
  font-weight: bold;
  border: 1px solid var(--secondary);
  border-radius: 5px;
  cursor: pointer;
}

.detailCardHeader {
  align-items: center;
  padding: 0 0 6px 0px;
}

.amount {
  font-weight: 500 !important;
  float: right;
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

.roles-table {
  table {
    border-collapse: collapse;
  }
  & thead {
    & tr {
      border-bottom: 1px solid #e4e4e4;
      & th {
        padding: 0px 15px !important;
      }
    }
  }

  & tbody {
    & tr {
      border-bottom: 1px solid #e4e4e4;
      & td {
        padding: 0px 15px !important;

        & .tableMainHeader {
          font-size: 1rem;
          color: var(--secondary);
          font-weight: 500;
        }
      }
    }
  }
}

[data-initials]:before {
  background: #8a8a8a;
  color: white;
  opacity: 1;
  content: attr(data-initials);
  display: inline-block;
  font-weight: bold;
  border-radius: 50%;
  vertical-align: middle;
  width: 42px;
  height: 43px;
  line-height: 46px;
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.greyBox {
  background: #f0f0f0;
  padding: 10px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d5d5d5;
}
.bgLight {
  background: #f0f0f0;
}
.greyBox {
  background: #f0f0f0;
  padding: 10px 10px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.quotePanel {
  background: #f9f9f9;
  justify-content: center;
  border-radius: 4px;
}
.quoteHeader {
  display: flex;
  font-size: 12px;
  gap: 0.25rem;
  -webkit-gap: 0.25rem;
  font-weight: bold;
  justify-content: center;
}

@supports (not(gap: 0.25rem)) and (not (-webkit-gap: 0.25rem)) {
  .quoteHeader > *:not(:nth-child(1)) {
    margin-left: 0.25rem !important;
  }
}

.quoteBox {
  padding: 10px 15px;
  display: flex;
  //flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid #c3bdbd;
  background-color: #418887;
  border-radius: 8px;
}
.redQuoteBox {
  padding: 4px 15px;
  border-radius: 4px;
  background: #ffcdcd;
  color: #650e0e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #c3bdbd;
}
.quoteBoxContent{
  display: flex;
  align-items: center;
  padding-right: 15px;
}
.quoteBoxicon{
  padding: 5px 4px 0 4px;
  border-radius: 6px;
  background-color: white;
  color: #378280 ;
  margin-right: 5px;
}
.quoteDetailHeading{
  color: white;
}

.noBorder {
  border: none !important;
}

.subDetailModule {
  border-top: none !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.quoteAmount {
  color: white;
  // font-size: 30px;
}
.customSelect {
  padding: 6px 15px;
  border: none;
  background: #d9dbd9;
  /* border-radius: 3px; */
  border-right: 1px solid white;
  margin-right: 4px;
  color: #011b06;
}
.termsBox {
  height: calc(100vh - 10vh);
}
.productBox {
  height: calc(100vh - 10vh);
  overflow: auto;
}
.productTable {
  table {
    border-collapse: collapse;
  }
  & thead {
    & tr {
      border-bottom: 1px solid #e4e4e4;
      background: #53ac65;
      padding: 4px;
      & th {
        padding: 0px 15px !important;
        color: white;
      }
    }
  }

  & tbody {
    & tr {
      border-bottom: 1px solid #e4e4e4;
      & td {
        padding: 4px 15px !important;
        font-size: 0.8rem;
      }
    }
  }
}
.google-visualization-orgchart-table {
  margin: 0 auto !important;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.imgLogin {
  height: 52vh;
  margin-top: 0px;
}
.loginSidebar {
  height: 100%;
  background-image: url(./../assets/svg/bg2.svg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: right 0 center;
}
.loginHeader {
  color: #102414;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 16px 20px;
  width: 74%;
}

.signature_canvas {
  width: 100%;
  min-height: 500px;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  margin-bottom: 30px;
}

.red-data-row {
  background-color: #ffcccb !important;
}
.a_divider_inner {
  height: 44px;
  margin-bottom: -18px;
  background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
  z-index: 0;
  zoom: 1;
  margin-top: 14px;
}

.a_divider_inner:after {
  display: block;
  width: 100%;
  height: 44px;
  background-color: transparent;
  background: -webkit-linear-gradient(to right, #fafafa00, rgba(255, 255, 255, 0), #fafafa00);
  background: linear-gradient(to right, #fafafa00, rgba(255, 255, 255, 0), #fafafa00);
  z-index: 1;
  content: "";
}

.grid-with-activity {
  display: grid;
  grid-template-columns: calc(100% - 550px) 550px;
  column-gap: 10px;
}

.grid-without-activity {
  display: grid;
  grid-template-columns: 1fr 26px;
}
.grid-product-category {
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 10px;
}

.grid-mobile {
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.activityHide {
  position: absolute;
  left: -6px;
  top: 11px;
  cursor: pointer;
  font-size: 26px;
  color: #636663;

  & .icon {
    background: whitesmoke;
    border-radius: 50%;
    box-shadow: 1px 3px 3px #ab9b9b;
  }
}

.activityShow {
  background: whitesmoke;
  height: 100vh;
  position: fixed;
  right: 9px;
  transform-origin: bottom right;
  width: 25px;
  top: 53px;
  font-size: 28px;
  border-left: 2px solid #e6dddd;

  & .icon {
    left: -10px;
    position: absolute;
    top: 54px;
    background: whitesmoke;
    border-radius: 50px;
    color: #636663;
    box-shadow: 1px 3px 3px #ab9b9b;
  }
}

.errorColor {
  color: var(--error) !important;
}

@media only screen and (max-width: 560px) {
  .grid-without-activity {
    display: grid;
    grid-template-columns: 1fr;
  }
}