* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/* body::-webkit-scrollbar {
  background-color: #fff;
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #babac0;
  border-radius: 16px;
  border: 2px solid #fff;
} */

.MuiToolbar-root {
  min-height: 55px !important;
}

.MuiButton-root {
  text-transform: capitalize !important;
  padding: 6px 16px !important;
}

.MuiOutlinedInput-input {
  padding: 12px 14px !important;
}

.MuiOutlinedInput-inputMultiline {
  padding: 0 !important;
}

.MuiButtonBase-root {
  text-transform: capitalize !important;
}

.MuiLink-root {
  font-size: 14px;
}

.MuiStepper-root {
  padding: 0 !important;
  padding-top: 20px !important;
}

/* Custom Select Search CSS */

/**
 * Main wrapper
 */
.select-search {
  width: 100%;
  position: relative;
}

.select-search *,
.select-search *::after,
.select-search *::before {
  box-sizing: inherit;
}

/**
 * Value wrapper
 */
.select-search__value {
  position: relative;
  z-index: 1;
}

.select-search__value::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: calc(50% - 9px);
  right: 19px;
  width: 11px;
  height: 11px;
}

/**
 * Input
 */
.select-search__input {
  display: block;
  height: 42px;
  width: 100%;
  padding: 0 16px;
  background: #f8fafc;
  border: 1px solid transparent;
  border-radius: 6px;
  outline: none;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  text-align: left;
  text-overflow: ellipsis;
  line-height: 36px;
  -webkit-appearance: none;
}

.select-search__input::-webkit-search-decoration,
.select-search__input::-webkit-search-cancel-button,
.select-search__input::-webkit-search-results-button,
.select-search__input::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

.select-search__input:not([readonly]):focus {
  cursor: initial;
}

/**
 * Options wrapper
 */
.select-search__select {
  background: #fff;
  padding: 16px;
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.15);
}

/**
 * Options
 */
.select-search__options {
  list-style: none;
}

/**
 * Option row
 */
.select-search__row:not(:first-child) {
  border-top: 1px solid #eee;
}

/**
 * Option
 */
.select-search__option,
.select-search__not-found {
  display: block;
  height: 36px;
  width: 100%;
  padding: 0 16px;
  background: #fff;
  border: none;
  outline: none;

  font-size: 14px;
  text-align: left;
  cursor: pointer;
}

.select-search__option.is-selected {
  background: #edf7ff;
  color: #222;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: #edf7ff;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #edf7ff;
  color: #222;
}

.select-search:not(.is-loading):not(.select-search--multiple) .select-search__value::after {
  transform: rotate(45deg);
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  pointer-events: none;
}

.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #edf7ff;
}

.select-search:not(.select-search--multiple) .select-search__select {
  position: absolute;
  z-index: 2;
  top: 44px;
  right: 0;
  left: 0;
  border-radius: 3px;
  overflow: auto;
  max-height: 360px;
}

.select-search__not-found {
  height: auto;
  padding: 16px;
  text-align: center;
  color: #888;
}

.account-grid-height,
.contact-grid-height {
  height: calc(100vh - 290px);
}

.gap-1 {
  gap: 0.25rem !important;
}

.gap-2 {
  gap: 0.5rem !important;
}

.gap-2 {
  gap: 1rem !important;
}

.gap-3 {
  gap: 1.5rem !important;
}

.gap-4 {
  gap: 3rem !important;
}
