.custom-swipeable-list {
    overflow-y: auto;
    height: calc(100vh - 230px);
}

// .swipeable-list {
//     flex: 1 1 !important;
//     width: 100% !important;
//     // height: 100% !important;
//     // height: auto !important;
//     overflow-y: auto !important;
//     -webkit-overflow-scrolling: touch;
// }

.swipe-card {
    border: 1px solid #e6e7e7;
    margin: 4px;
    background: white;
    border-radius: 4px;
    box-shadow: 1px 2px 3px #dad2d2;
    padding: 5px;
}

.swipeable-list-item {
    background: white;
    margin: 4px 0 0;

    .MuiCheckbox-root {
        padding: 0 4px 0 8px;
    }
}

// .grid-detail {
//     display: flex;
//     align-items: center;
//     flex-direction: column;
//     margin: 10px 0;
// }

// .grid-actions {
//     display: flex;
//     align-items: center;
//     flex-direction: row;
//     margin: 10px 0;
//     justify-content: right;
//     width: 100%;
//     gap: 5px;
// }

.swipeable-list-item__content {
    align-items: flex-start;
    flex-direction: column;
}

// .grid-data {
//     ul {
//         padding: 0;
//     }
//     li {
//         padding: 0;

//         span {
//             font-size: 0.8rem;
//         }

//         p {
//             font-size: 0.7rem;
//         }
//     }
// }
