.custom_grid {
  background-color: var(--aliceblue);
}
.contact_header_inner_container
  .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between
  .MuiBox-root.MuiBox-root-40.account_header {
  display: flex;
  gap: 0.25rem;
}
.mobile_button_layout {
  padding: 5px !important;
}
@media only screen and (max-width: 767px) {
  .search_box_layout {
    margin-left: 0px;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 599px) {
  .custom_grid {
    width: 100% !important;
  }
}
.detail_page_div3 {
  background-color: var(--white);
}

.leads_data {
  padding: 6px;
  background-color: #e4e4e4;
  display: flex;
  justify-content: space-between;
}

.custom_box1 {
  min-height: 150px;
  justify-content: center;
  background: #f5f5f5;
  padding: 5px;
}
