// .dashboard_layout {
//   display: grid;
//   grid-template-columns: minmax(200px, 441px) minmax(350px, 900px);
//   padding: 2.75rem 0 5.875rem;
//   grid-gap: 40px;
//   justify-content: space-between;
// }

// .hero_container {
//   margin-top: 30px;
// }

// .hero_heading {
//   font-weight: 700;
//   line-height: 153%;
//   color: #2a3042;
//   margin: 0 0 24px;
//   font-size: clamp(20px, 5vw, 30px);
// }

// .hero_paragraph {
//   font-weight: 500;
//   line-height: 135.02%;
//   color: rgba(0, 0, 0, 0.5);
//   font-size: clamp(16px, 3.5vw, 20px);
// }

// .crm_hero_image {
//   max-width: 100%;
//   display: block;
//   margin-top: 99px;
// }

// .view_button {
//   color: #43aea7 !important;
//   margin: 20px 0 !important;
//   padding: 0 !important;
// }

// .hover_list_box {
//   margin: 0px;
// }

// .custom_form_button {
//   padding: 12px 34px;
//   background-color: #41aeaa;
//   color: #fff;
//   font-weight: 600;
//   font-size: 18px;
//   line-height: 22px;
//   margin-left: 14px;
//   box-shadow: 0px 4px 10px rgba(65, 174, 170, 0.27);
//   border-radius: 4px;
//   transition: background 0.4s;
//   cursor: pointer;
//   outline: none;
//   border: 0;

//   &:hover {
//     background-color: var(--primary);
//   }
// }

// @media all and (max-width: 1286px) {
//   .dashboard_layout {
//     align-items: unset;
//   }
// }

// @media all and (max-width: 1155px) {
//   .dashboard_layout {
//     grid-template-columns: 1fr;
//   }

//   .hero_container {
//     // margin: 0 auto;
//     // max-width: 600px;
//     // text-align: center;
//     display: none;
//   }
//   // .crm_hero_image {
//   //   margin: 29px auto 0;
//   // }
//   // .hero_heading {
//   //   margin-bottom: 5px;
//   // }
// }

// // @media all and (max-width: 567px) {
// //   .hero_container {
// //     display: none;
// //   }
// // }

// .list_component {
//   margin: 0 !important;
//   padding: 0;
// }

// .hover_list_box {
//   margin: 0;
// }

.search_section {
  display: flex;
  margin-bottom: 1.875rem;
  .search_input {
    background: white;
    border-radius: 6px;
    outline: none;
    position: relative;
    border: 0;
    width: 100%;
    overflow: hidden;

    input {
      border-radius: 6px;
      padding: 12px 23px 12px 55px;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      outline: 0;
      width: 100%;
      border: 2px solid transparent;
      outline: none;
      background-color: transparent;
      transition: border 0.3s;
      border: 1px solid rgba(0, 0, 0, 0.2);

      &:focus {
        border: 1px solid #41aeaa;
      }
    }

    .searchIcon svg {
      position: absolute;
      left: 23px;
      top: 50%;
      transform: translateY(-50%);
      fill: #7e818c;
    }

    .clear_icon svg {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      fill: #7e818c;
      cursor: pointer;
    }
  }
}

.filtered_data {
  max-height: Max(calc(100vh - 252px), 500px);
  background-color: white;

  .list_header {
    background-color: #41aeaa;
    color: #fff;
    border-radius: 4px;
    padding: 12px 16px;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .no_result_container {
    padding: 20px 0;
    user-select: none;
    svg {
      fill: var(--grey);
      margin: 0 auto 10px;
      width: 50px;
      height: 50px;
    }
  }
  .no_result {
    color: var(--grey);
    user-select: none;
    text-align: center;
  }
}

.cardSection {
  .cardContainer {
    @media all and (min-width: 548px) {
      --ver-gap: 18px;
      --hor-gap: 18px;
      --grid-columns: repeat(2, 1fr);
      --card-padding: 27px 38px 28px 20px;
    }
    @media all and (min-width: 768px) {
      --ver-gap: 20px;
      --hor-gap: 20px;
      --grid-columns: repeat(3, 1fr);
      --card-padding: 27px 38px 28px 20px;
    }
    @media all and (min-width: 900px) {
      --ver-gap: 23px;
      --hor-gap: 23px;
      --grid-columns: repeat(2, 1fr);
      --card-padding: 27px 38px 28px 20px;
    }
    @media all and (min-width: 1100px) {
      --ver-gap: 23px;
      --hor-gap: 25px;
      --grid-columns: repeat(3, 1fr);
      --card-padding: 23px 18px 18px 18px;
    }
    display: grid;
    grid-template-columns: var(--grid-columns, 1fr);
    column-gap: var(--ver-gap, 15px);
    row-gap: var(--hor-gap, 15px);
    .singlecard {
      --card-border-radius: 12px;
      --border-width: 4px;
      display: grid;
      background-color: var(--bg_color, #ffefee);

      @media all and (min-width: 1600px) {
        min-height: 178px;
      }
      cursor: pointer;
      box-shadow: 0px 3.30055px 40px rgba(0, 0, 0, 0.08);
      border-radius: var(--card-border-radius, 12px);
      position: relative;
      isolation: isolate;
      padding-left: var(--border-width, 4px);
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(var(--bg-gradient-colors, to bottom, #ffa800, #e35200));
        z-index: -2;
        border-radius: var(--card-border-radius, 12px);
      }
      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: var(--card-border-radius, 12px);
        background-color: var(--bg_color, #ffefee);
        margin-left: var(--border-width, 4px);
        z-index: -1;
        margin-right: -0.5px;
      }
      .cardContent {
        padding: var(--card-padding, 15px);
      }
      .cardHeading {
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 8px;
      }
      .cardDesc {
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
      }
      .cardTop {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 15px;
      }
      .cardIcon {
        overflow: hidden;
        border-radius: 50%;
        width: 50px;
        height: 50px;
      }
      .cardArrow {
        font-size: 16px;
        transition: transform 0.3s;
      }
      &:hover {
        .cardArrow {
          transform: scale(1.06);
        }
      }
    }
  }
}
.dialogContainer {
  --top-space: 28px;
  .dialogContentContainer {
    padding: 24px 32px;
  }
  .modalHead {
    padding: 0 0 10px;
    background-color: #fff !important;
    position: relative;
    border-radius: 8.17814px 8.17814px 0 0;
    width: Min(404px, calc(100vw - 64px));
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;

    button {
      flex-basis: 48px;
      max-width: 48px;
      border-radius: 50% !important;
      svg {
        color: #000 !important;
      }
    }
    .modalIconAndName {
      display: flex;
      flex-basis: calc(100% - 48px);
      max-width: calc(100% - 48px);
      align-items: center;
      gap: 24px;
      .modalIcon {
        flex-basis: 32px;
        max-width: 32px;
        svg {
          width: 32px;
          height: 32px;
          display: block;
        }
        img {
          width: 32px;
          height: 32px;
          display: block;
        }
      }
      .modalTitle {
        color: #5b5b5b !important;
        font-weight: 700;
        font-weight: 700;
        font-size: 14px;
        line-height: 157%;
        flex-basis: calc(100% - 32px);
        max-width: calc(100% - 32px);
      }
    }
  }
  .dialogContent {
    margin: var(--top-space, 20px) 0 0;
    padding: 0;
    max-height: 250px;
    min-height: 250px;

    .linkList {
      list-style-type: none;
      li {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 192%;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .dialogLinks {
      font-weight: 400;
      font-size: 13px;
      line-height: 183%;
      text-align: center;
      color: #2a3042;
      transition: color 0.3s;
      svg {
        margin-right: 16px;
        vertical-align: middle;
      }
      &:hover {
        color: var(--link, lightblue);
      }
    }
  }
  @media all and (max-width: 550px) {
    .modalIcon {
      display: none;
    }
  }
}

.viewAll {
  display: block;
  border: 0;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;

  span {
    font-weight: 600;
    font-size: 17.3279px;
    line-height: 29px;
    color: #2a3042;
  }
  svg {
    vertical-align: middle;
    margin-left: 6px;
    transition: margin 0.3s, color 0.3s;
    color: inherit;
  }
  &:hover {
    span {
      color: var(--link);
    }
  }
}
.rightInner {
  @media all and (min-width: 548px) {
    --hor-gap: 18px;
  }
  @media all and (min-width: 768px) {
    --padding: 37px;
    --hor-gap: 20px;
    --image-mb: 25px;
    --button-mt: 30px;
  }
  @media all and (min-width: 900px) {
    --hor-gap: 23px;
  }
  @media all and (min-width: 1024px) {
    --padding: 37px 34px 44px;
    --image-mb: 31px;
    --button-mt: 61px;
  }
  @media all and (min-width: 1100px) {
    --hor-gap: 25px;
  }
  &:hover {
    .viewAll svg {
      margin-left: 10px;
    }
  }
  text-align: left;
  margin-bottom: var(--hor-gap, 10px);
  &::last-child {
    margin-bottom: 0;
  }

  background: var(--sideCardBg, #fffaee);
  border: 2.16598px solid #ebebeb;
  box-shadow: 0px 4.33197px 43.3197px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  padding: var(--padding, 20px);
  cursor: pointer;
  img {
    display: block;
    max-width: max-content;
  }
  .colabLogo {
    max-width: 72px;
    margin-bottom: var(--image-mb, 15px);
  }
  h2 {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #2a3042;
    margin-bottom: 13px;
  }
  p {
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
  }
  .colabButton {
    display: block;
    border: 0;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: color 0.3s;
    margin-top: var(--button-mt, 20px);
    span {
      font-weight: 600;
      font-size: 17.3279px;
      line-height: 29px;
      color: #2a3042;
    }
    &:hover {
      span {
        color: var(--link);
      }
    }
  }
  .linkList {
    margin: 55px 0 50px;
    list-style-type: none;
    li {
      margin-bottom: 20px;
      &::last-child {
        margin-bottom: 0;
      }
      a {
        span {
          font-weight: 600;
          font-size: 16.2759px;
          line-height: 20px;
          color: #0f9fa9;
          position: relative;
          &::before {
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.3s cubic-bezier(0.2, 1, 0.8, 1);
            content: '';
          }
          &::before,
          &::after {
            position: absolute;
            width: 100%;
            height: 1px;
            background: currentColor;
            top: 100%;
            left: 0;
            pointer-events: none;
          }
          &::after {
            content: '';
            top: calc(100% + 4px);
            transform-origin: 100% 50%;
            transform: scale3d(0, 1, 1);
            transition: transform 0.4s 0.1s cubic-bezier(0.2, 1, 0.8, 1);
          }
        }
        padding: 16px 0;
        &:hover {
          span:before {
            transform-origin: 0% 50%;
            transform: scale3d(1, 2, 1);
            transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
          }
          span:after {
            transform-origin: 0% 50%;
            transform: scale3d(1, 1, 1);
            transition-timing-function: cubic-bezier(0.7, 0, 0.2, 1);
          }
        }
      }
    }
  }
}
.main {
  @media all and (min-width: 768px) {
    --gap: 25px;
    --seciton_padding: 40px 0;
  }
  @media all and (min-width: 900px) {
    --columns: 7fr 3fr;
    --gap: 36px;
    --seciton_padding: 47px 0 71px;
  }
  padding: var(--seciton_padding, 40px 0);
  display: grid;
  grid-template-columns: var(--columns, 1fr);
  gap: var(--gap, 20px);
}
