.checkout_navbar {
  display: flex;
  max-width: 30rem;
}

.checkout_line {
  width: 90%;
}
.checkout_items {
  // display: grid;
  // gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  // background: var(--theme-text);
  height: auto;
}
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.loadingContainer {
  height: 300px;
  padding: 20% !important;
  background: var(--white);
}

.card {
  background: var(--theme-text);
  display: grid;
  grid-template-columns: 350px 1fr;
  // grid-template-rows: minmax(120px, 235px);
  align-items: center;
  // border-radius: 6px;
  // border-bottom: 1px solid lightgray;
  // box-shadow: 3px -1px 5px #afababdd;
  // margin-bottom: 6px;
  .products_image_layout {
    padding: 15px;
    width: 100%;
    height: 100%;
  }
  &_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  &_body {
    margin: 0.8rem 1rem;
    flex-grow: 1;
    align-self: flex-start !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
    &_layout {
    }
  }
  &_desc {
    margin-bottom: 0.8rem;
    font-weight: 500;
    font-size: 12px;
    color: var(--grey);
  }
  &_product_name_and_price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  &_seller {
    text-transform: uppercase !important;
    font-weight: bolder !important;
    // font-style: oblique;
    text-transform: capitalize;
    color: var(--colorContact);
    font-size: 1rem;
  }
  &_vendor {
    // margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: var(--colorContact);
    font-weight: 500;
    font-size: 12px;
    span {
      color: var(--primary);
      text-transform: none !important;
      font-weight: 800;
      font-size: 12px !important;
    }
  }
  &_price {
    font-size: 1rem;
    font-weight: 600;
    color: var(--productRed);
  }
  &_controls {
    margin: 0 0 0.3rem 0;
    display: flex;
    // flex-direction: row;
    align-items: center;
    font-weight: 600;
    font-size: 1.2rem;
    &_set_icon {
      width: 20px;
      height: 20px;
    }
  }
  &_add_to_favorite_button {
    background-color: #43aeaa !important;
    opacity: 0.9;
    border-radius: 5px !important;
  }
  &_qnt_button_min {
    padding: 0 8px 0 0 !important;
  }
  &_qnt_button_plus {
    padding: 0 0 0 8px !important;
  }
}
// .card {
//   flex-direction: row;
// }
.box_layout {
  background-color: white;
  border-radius: 5px;
  overflow-y: auto;
  hr {
    display: flex !important;
    color: lightgrey;
    width: 95%;
    margin: 0 auto;
  }
  .cart_box {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 5px;
    // border-bottom: 1px solid black;
    padding: 3px 18px 0 18px;
  }
  h2 {
    font-size: 20px;
    font-weight: 900 !important;
  }
}
.middle_line {
  height: 15px;
  display: flex;
  align-items: center;
  hr {
    display: flex !important;
    color: lightgrey;
    width: 95%;
    margin: 0 auto;
  }
}

.wrapper {
  width: 1250px;
  display: grid;
  gap: 0.25rem;
  -webkit-gap: 0.25rem;
  grid-template-columns: minmax(450px, 1200px) minmax(250px, 380px);
}
.remove_product {
  padding: 1px 40px 3px 40px !important;
  background-color: #f7f7f7 !important;
  text-transform: uppercase !important;
  font-size: 14px !important;
  color: var(--primary) !important;
  font-weight: 700 !important;
  margin-right: 10px !important;
}
// .edit_product {
//   padding: 1px 20px 3px 20px !important;
//   background-color: #F7F7F7 !important;
//   text-transform: uppercase !important;
//   font-size: 14px !important;
//   color: var(--primary) !important;
//   font-weight: 700 !important;
// }
@supports (not (gap: 0.25rem)) and (not (-webkit-gap: 0.25rem)) {
  .wrapper > *:not(:nth-child(1)) {
    margin-left: 0.25rem !important;
  }
}

.price_card {
  justify-content: center;
  // text-align: center;
  // background: var(--theme-text);
  align-items: center;
  border-radius: 6px;
  margin-left: 5px;
  // position: fixed;
  // right: 20px;
  // width: 34%;
  // &_price_summary {
  //   hr {
  //     display: flex !important;
  //     color: lightgrey;
  //     width: 93%;
  //     margin: 0 auto;
  //   }
  // }
  &_all_data {
    display: flex;
    flex-direction: column;
    height: clamp(300px, 480px, 650px);
    justify-content: space-between;
  }
  &_main {
    background-color: white;
    border-radius: 5px;
    height: clamp(300px, 510px, 700px);
  }
  &_product_summary {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #eeeeee;
    border-radius: 5px;
    // border-bottom: 1px solid black;
    padding: 3px 18px 0 18px;
  }

  &_summary {
    display: flex;
    justify-content: space-between;
    padding: 16px 18px 0 18px;
    font-size: 16px;
    font-weight: 900;
    p {
      margin: 0 15px;
      color: var(--primary);
      display: flex;
      align-items: center;
      span {
        padding: 3px 0 0 5px;
        font-size: 0.8rem;
      }
    }
    h3 {
      color: var(--lightgray);
      font-size: 1rem;
    }
    &_pickup {
      display: flex;
      justify-content: space-between;
      padding: 8px 18px 0px 18px !important;
      font-size: 1rem;
      font-weight: 900;
      p {
        margin: 0 15px;
      }
    }
  }

  &_total {
    display: flex;
    justify-content: space-between;
    padding: 0px 18px 0 18px !important;
    text-align: end;
    // font-size: 1rem;
    h3 {
      margin: 0 15px;
    }
  }

  &_price_summary_heading {
    text-align: left !important;
    color: var(--primary);
    margin: 15px;
    text-transform: uppercase;
    // border-bottom: 1px solid #e9e6ec;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
  }

  &_price {
    font-size: 20px;
    font-weight: 600;
    color: var(--productRed);
    margin: 0 15px;
  }
  &_details {
    color: var(--primary-light);
    display: flex;
    align-items: center;
    padding-right: 2px;
    margin: 0 15px;
  }
  &_secure_text {
    display: flex;
    justify-content: space-between;
  }
  &_checkout_button {
    margin-top: 0.8rem;
    border-top: 1px solid #f2ecec;
    padding: 15px;

    &_layout {
      width: 90%;
      font-size: 14px !important;
      background-color: var(--primary) !important;
      span {
        text-transform: uppercase !important;
        font-weight: 750;
        letter-spacing: 1px !important;
      }
    }
  }
}
.secure_payment {
  display: flex;
  width: 90%;
  margin: 20px auto;
  align-items: center;
  p {
    padding-left: 10px;
    font-size: 16px;
    text-align: left;
    line-height: 16px;
  }
}
.sponsored {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.sponsored_items {
  // width: 90%;
  display: grid;
  grid-template-columns: minmax(600px, 1250px);

  &_container {
    width: 100%;
    background-color: white;
    display: grid;
    flex-direction: column;

    // grid-template-rows: repeat(1,1fr);
    // border-radius: 10px;
    h2 {
      display: flex;
      padding: 20px;
      justify-content: center;
    }
  }
  &_list {
    display: grid;
    gap: 10px !important;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(150px, 220px));
    grid-template-rows: repeat(1, 1fr);
    grid-auto-rows: 0;
    overflow-y: hidden;

    margin-bottom: 1rem;
  }

  // overflow-x: scroll;
}

@media screen and (max-width: 1026px) {
  .wrapper {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    display: grid;
    gap: 0.25rem;
    -webkit-gap: 0.25rem;
    grid-template-columns: minmax(450px, 700px);
    grid-template-rows: max-content;
  }
  .sponsored_items {
    // width: 90%;
    display: grid;
    grid-template-columns: minmax(450px, 700px);

    &_container {
      width: 100%;
      border-radius: 10px;
      background-color: white;
      display: grid;
      flex-direction: column;

      // grid-template-rows: repeat(1,1fr);
      // border-radius: 10px;
      h2 {
        display: flex;
        padding: 20px;
        justify-content: center;
      }
    }
    &_list {
      display: grid;
      grid-row-gap: 0 !important;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(150px, 220px));
      grid-template-rows: repeat(1, 1fr);
      grid-auto-rows: 0;
      overflow-y: hidden;
      grid-column-gap: 5px !important;

      margin-bottom: 1rem;
    }
  }
  .price_card {
    justify-content: center;
    text-align: center;
    // background: var(--theme-text);
    align-items: center;
    border-radius: 6px;
    margin-left: 0px;
  }
  .price_card {
    &_main {
      background-color: white;
      border-radius: 5px;
      height: 100%;
    }
    &_all_data {
      display: flex;
      flex-direction: column;
      height: clamp(300px, 350px, 650px);
      justify-content: space-between;
    }
  }
  .secure_payment {
    display: flex;
    width: 90%;
    margin: 20px auto;
    align-items: center;
    justify-content: center;
    p {
      padding-left: 10px;
      font-size: 16px;
      text-align: left;
      line-height: 16px;
    }
    svg {
      width: 34px;
      height: 34px;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin: 0;
  }
  .card {
    background: var(--theme-text);
    display: grid;
    grid-template-columns: minmax(120px, 220px) 1fr;
    align-items: center;
    &_details {
      color: var(--colorContact);
      display: flex;
      align-items: center;
      padding-right: 6px;
    }

    &_price {
      font-size: 14px;
      font-weight: 600;
      color: var(--productRed);
      padding-bottom: 0px !important;
    }
    &_checkout_button {
      margin-top: 0.4rem;
      border-top: 1px solid #f2ecec;
      padding: 15px;

      &_layout {
        width: 90%;
        font-size: 13px !important;
        span {
          text-transform: uppercase !important;
          font-weight: 750;
          letter-spacing: 1px !important;
        }
      }
    }
    &_seller {
      margin-bottom: 0px;
      text-transform: capitalize;
      color: var(--colorContact);
      font-size: 14px;
    }
    &_desc {
      margin-bottom: 0.2rem;
      font-weight: 400;
      font-size: 12px;
      color: var(--grey);
    }
    &_vendor {
      // margin-bottom: 0.5rem;
      text-transform: capitalize;
      color: var(--colorContact);
      font-weight: 500;
      font-size: 11px;
      span {
        color: var(--primary);
        text-transform: none !important;
        font-weight: 800;
        font-size: 11px !important;
      }
    }
    &_controls {
      margin: 0.1rem 0 0.5rem 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 600;
      font-size: 1rem;

      &_set_icon {
        width: 15px !important;
        height: 15px !important;
      }
    }
    &_add_to_favorite_button {
      background-color: #43aeaa !important;
      opacity: 0.9;
      border-radius: 5px !important;
      font-size: 12px !important;
      svg {
        width: 15px !important;
        height: auto !important;
      }
    }
  }

  .price_card {
    &_product_summary {
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 0px;
    }
    &_price_summary {
      &_heading {
        text-align: center !important;
        color: var(--primary);
        margin: 0px !important;
        // padding-bottom: 10px !important;
        // border-bottom: 1px solid #e9e6ec;
        font-size: 14px !important;
        border-radius: 0px;
        font-weight: bold;
      }
    }
    &_total {
      h3 {
        margin: 0;
      }
    }
    &_details {
      margin: 0px;
    }
    &_checkout_button_layout {
      width: 100%;
    }
  }

  .wrapper {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    display: grid;
    gap: 0.25rem;
    -webkit-gap: 0.25rem;
    grid-template-columns: minmax(450px, 700px);
    grid-template-rows: max-content;
  }
  .sponsored_items {
    // width: 90%;
    display: grid;
    grid-template-columns: minmax(450px, 700px);

    &_container {
      width: 100%;
      border-radius: 10px;
      background-color: white;
      display: grid;
      flex-direction: column;

      // grid-template-rows: repeat(1,1fr);
      // border-radius: 10px;
      h2 {
        display: flex;
        padding: 20px;
        justify-content: center;
        font-size: 1rem !important;
      }
    }
    &_list {
      display: grid;
      grid-row-gap: 0 !important;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
      grid-template-rows: repeat(1, 1fr);
      grid-auto-rows: 0;
      overflow-y: hidden;
      grid-column-gap: 5px !important;

      margin-bottom: 1rem;
    }
  }

  .remove_product {
    padding: 2px 15px !important;
    text-transform: lowercase !important;
    font-size: 12px !important;
    color: var(--primary) !important;
    font-weight: 700 !important;
  }
  .box_layout {
    .cart_box {
      height: 40px !important;
      border-radius: 0px !important;
      // border-bottom: 1px solid black;
      padding: 0 18px 0 18px !important;
      h2 {
        font-size: 14px !important;
      }
    }
  }
  .price_card_summary {
    p {
      margin: 0px;
      font-size: 1rem !important;
    }
    h3 {
      margin: 0px;
      font-size: 1rem !important;
    }
    &_pickup {
      padding: 8px 18px 30px 18px !important;
      p {
        margin: 0px;
        font-size: 1rem !important;
      }
      svg {
        width: 14px !important;
        height: auto !important;
      }
    }
  }
  .secure_payment {
    svg {
      width: 25px !important;
      height: auto !important;
    }
    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width: 430px) {
  // .sponsored_items {
  //   &_list {
  //     flex-direction: row;
  //   }
  .wrapper {
    background-color: white;
    border-radius: 10px;
    width: 700px;
    display: grid;
    gap: 0.25rem;
    -webkit-gap: 0.25rem;
    grid-template-columns: minmax(250px, 700px);
    grid-template-rows: max-content;
  }
  .card {
    background: var(--theme-text);
    display: grid;
    grid-template-columns: minmax(120px, 180px) 1fr;
    align-items: center;
    &_details {
      color: var(--colorContact);
      display: flex;
      align-items: center;
      padding-right: 6px;
    }

    &_price {
      font-size: 12px;
      font-weight: 600;
      color: var(--productRed);
      padding-bottom: 6px !important;
    }
    &_checkout_button {
      margin-top: 0rem;
      border-top: 1px solid #f2ecec;
      padding: 15px;

      &_layout {
        width: 90%;
        font-size: 10px !important;
        span {
          text-transform: uppercase !important;
          font-weight: 750;
          letter-spacing: 1px !important;
        }
      }
    }
    &_seller {
      margin-bottom: 0.3rem;
      text-transform: capitalize;
      color: var(--colorContact);
      font-size: 10px;
    }
    &_vendor {
      margin-bottom: 0.3rem;
      text-transform: capitalize;
      color: var(--colorContact);
      font-weight: 500;
      font-size: 10px;
      span {
        color: var(--primary);
        text-transform: none !important;
        font-weight: 800;
        font-size: 10px !important;
      }
    }
    &_desc {
      margin-bottom: 0.2rem;
      font-weight: 600;
      font-size: 10px;
      color: var(--grey);
    }
    &_controls {
      margin: 0.1rem 0 0.3rem 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: 600;
      font-size: 1rem;
      &_set_icon {
        width: 15px !important;
        height: 15px !important;
      }
    }
    &_add_to_favorite_button {
      background-color: #43aeaa !important;
      opacity: 0.9;
      border-radius: 5px !important;
      font-size: 10px !important;
      padding: 3px 10px !important;
      svg {
        width: 12px !important;
        height: auto !important;
      }
    }
  }
  .sponsored_items {
    // width: 90%;
    display: grid;
    grid-template-columns: minmax(250px, 350px);

    &_container {
      width: 100%;
      border-radius: 10px;
      background-color: white;
      display: grid;
      flex-direction: column;

      // grid-template-rows: repeat(1,1fr);
      // border-radius: 10px;
      h2 {
        display: flex;
        padding: 20px;
        justify-content: center;
        font-size: 1rem !important;
      }
    }
    &_list {
      display: grid;
      grid-row-gap: 0 !important;
      justify-content: center;
      grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 5px !important;
      margin-bottom: 1rem;
    }
  }
  .price_card {
    &_all_data {
      display: flex;
      flex-direction: column;
      height: clamp(200px, 270px, 650px);
      justify-content: space-between;
    }
    &_summary {
      h3 {
        font-size: 14px !important;
      }
      &_pickup {
        padding: 8px 18px 20px 18px !important;
        p {
          font-size: 14px !important;
        }
        svg {
          width: 14px !important;
          height: 14px !important;
        }
      }

      p {
        font-size: 14px !important;
        span {
          font-size: 13px !important;
          padding: 0 0 0 6px;
        }
      }
    }
    &_total{
      h3{
        font-size: 14px !important;
      }
    }
  }
  .remove_product {
    padding: 1px 10px !important;
    // text-transform: lowercase !important;
    // font-size: 12px !important;
    // color: var(--primary) !important;
    // font-weight: 700 !important;
  }
  .secure_payment {
    svg {
      width: 20px !important;
      height: auto !important;
    }
    p {
      font-size: 10px;
    }
  }
}

.no_image {
  font-size: 190px;
  color: #d3d6d3;
}