.checkout_navbar {
  display: flex;
  max-width: 30rem;
}

.checkout_line {
  width: 90%;
}

.checkout_items {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
  // background: var(--theme-text);
}

.loadingContainer {
  height: 300px;
  padding: 20% !important;
  background: var(--white);
}

.card {
  background: var(--theme-text);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  border-bottom: 1px solid #f4f4f4;
  box-shadow: 3px -1px 5px #afababdd;
  margin-bottom: 6px;

  &_img {
    width: 15rem;
    height: 9rem;
    object-fit: cover;
  }
  &_body {
    margin: 1rem 0.4rem;
    flex-grow: 1;
  }
  &_desc {
    line-height: 1.8rem;
    margin-bottom: 0.3rem;
    font-weight: 600;
    font-size: 18px;
    color: var(--colorContact);
  }
  &_seller {
    line-height: 1.4rem;
    margin-bottom: 0.3rem;
    color: var(--colorContact);
    font-size: 1rem;
  }
  &_price {
    font-size: 20px;
    margin-top: 0.6rem;
    font-weight: 600;
    color: var(--productRed);
  }
  &_controls {
    margin-top: 0.3rem;
    flex-direction: row;
    font-weight: 600;
    font-size: 1.5rem;
  }
}

.price_card {
  justify-content: center;
  text-align: center;
  background: var(--theme-text);
  align-items: center;
  border-radius: 6px;
  margin-left: 5px;
  // position: fixed;
  // right: 20px;
  // width: 34%;

  &_summary {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    font-size: 1rem;
  }

  &_total {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 1rem;
    font-size: 1rem;
  }

  &_price_summary_heading {
    color: #ffffff;
    padding: 18px;
    border-bottom: 1px solid #e9e6ec;
    font-size: 24px;
    background: #38aa47;
    border-radius: 5px 5px 0 0;
    font-weight: normal;
  }

  &_price {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--productRed);
  }
  &_details {
    color: var(--colorContact);
  }
  &_secure_text {
    display: flex;
    justify-content: space-between;
  }
  &_checkout_button {
    margin-top: 0.8rem;
    border-top: 1px solid #f2ecec;
    padding: 15px;
  }
}

.sponsored_items {
  margin: 2rem 10rem;
  &_list {
    display: flex;
    flex-direction: column;
    // overflow-x: scroll;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1000px) {
  .card {
    flex-direction: row;
  }
  .wrapper {
    display: grid;
    gap: 0.25rem;
    -webkit-gap: 0.25rem;
    grid-template-columns: 2fr 1fr;
    margin: 0px 10rem;
  }
  @supports (not (gap: 0.25rem)) and (not (-webkit-gap: 0.25rem)) {
    .wrapper > *:not(:nth-child(1)) {
      margin-left: 0.25rem !important;
    }
  }
}
@media screen and (min-width: 426px) {
  .sponsored_items {
    &_list {
      flex-direction: row;
    }
  }
}
