.profileSidebarLink {
  .menuLink {
    text-decoration: none;
    color: var(--primary) !important;
    display: contents;
    font-weight: 400;
  }
  .active,
  .menuLink:hover {
    text-decoration: none;
    cursor: pointer !important;
    color: var(--link) !important;
    font-weight: bolder;
  }
}
.userDetail {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 7% 11%;
}
.editProfileContainer {
  display: flex;
  justify-content: flex-end;
}
.profileAvatarContainer {
  display: flex;
  justify-content: center;
}
.preferenceHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  margin-bottom: 22px;
}
.notificationIcon {
  color: var(--link);
}
.preferenceOptionsBox {
  background-color: #d3d3d373;
}
.userProfileFieldText {
  width: 100%;
  border-radius: 4;
  cursor: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500 !important;
  color: var(--primary);
}
