.profileSidebarLink {
  .menuLink {
    text-decoration: none;
    color: var(--link) !important;
    display: contents;
    cursor: pointer !important;
    font-weight: 400;
  }
  .active,
  .menuLink:hover {
    text-decoration: none;

    font-weight: bolder;
  }
}
.userDetail {
  background: var(--dark-secondary, #f1f5ff);
  display: flex;
  flex-direction: column;
  -webkit-gap: 0.5rem;
  gap: 0.5rem;
  padding: 7% 11%;
  border-radius: 4px;
  margin-bottom: 15px;
}
@supports (not (gap: 0.5rem)) and (not (-webkit-gap: 0.5rem)) {
  .userDetail > *:not(:nth-child(1)) {
    margin-left: 0.5rem !important;
  }
}

.profileAvatarContainer {
  display: flex;
  justify-content: center;
}
.preferenceHeader {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px;
  margin-bottom: 22px;
}
.notificationIcon {
  color: var(--link);
}
.preferenceOptionsBox {
  background-color: #d3d3d373;
}
.userProfileFieldText {
  font-size: 0.8rem;
  font-weight: normal;
  color: #656464;
}
