.rbc-header {
    border-bottom: none !important;
}
.rbc-date-cell {
    text-align: center;
}
.rbc-event{
    background: #eae6e6 !important;
    border-radius: 0 !important;
    border-left: 4px solid var(--primary) !important;
    color: #867d7d !important;
}