.global-chat {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1001;
}

.global-chatbox {
  height: 400px;
  overflow: hidden;
  position: relative;

  .not-found {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: rgba(126, 126, 126, 0.1);
    display: grid;
    place-items: center;

    p {
      font-size: 20px;
      font-weight: 600;
      color: #ececec;
      background-color: rgb(241, 0, 0);
      border-radius: 20px;
      padding: 4px 10px;
      transform: rotateZ(-10deg);
    }
  }

  .chatbox-container {
    height: 360px;
    padding: 0px 8px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;

    .loading-msg {
      text-align: center;
      margin-bottom: 95%;
    }

    .message-container {
      // display: flex;
      // flex-direction: column;

      .message-outlet {
        width: fit-content;
        background-color: rgb(230, 230, 230);
        color: rgb(32, 32, 32);
        border-radius: 18px;
        padding: 6px 10px;
        margin-top: 10px;
        overflow: hidden;

        .username {
          font-weight: 500;
          color: #810000;
        }

        .msg-data {
          display: flex;
          align-items: center;
          .message-time {
            align-self: flex-end;
            font-size: 12px;
            margin-left: 8px;
          }
        }
      }

      .my-color {
        background-color: #163340;
        color: whitesmoke;
      }

      &:first-child {
        margin-bottom: 10px;
      }
    }

    .my-message {
      align-self: flex-end;
    }
  }

  .chatbox-input {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    border-top: 1px solid #cdcdcd;
    height: 40px;

    input {
      height: 100%;
      border: none;
      outline: none;
      width: 100%;
      margin-right: 10px;
      font-size: 16px;
      padding: 0px 10px;
    }
  }
}

.new-chatbox {
  padding: 1rem;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-listTitle {
  font-size: 16px;
  font-weight: 600;
}

.chat-listSubtext {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .chat-listSubtitle {
    flex: 0.8;
    display: flex;
    overflow: hidden;

    .msg {
      font-size: 14px;
      margin-left: 4px;
    }
    .who {
      font-weight: 500;
    }

    .unseen {
      font-weight: 700;
    }
  }

  .count {
    color: #163340;
    font-weight: 700 !important;
    font-size: 14px !important;
  }

  .message-time {
    text-align: right;
    flex: 0.2;
    font-size: 12px;
    font-weight: 500;
  }
}
