.custom-link{
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}
.link-text{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.pathNames{
    font-size: 20px !important;
    font-weight: bold !important;
}
.customCircularProgress{
    height: 3px;
}
