.MuiLink-root {
  font-size: 14px;
}

.MuiTableCell-head {
  font-size: 14px !important;
  color: "#aaa" !important;
}

.LeadNameLink{
  color: #0645AD;
  cursor: pointer;
}
.LeadNameLink:hover{
  text-decoration: underline;
}
.updatedAtTime , .createdAtTime{
  font-size: 0.6 rem;
  line-height: 1 rem;
  display: block;
  font-weight: lighter;
}
.updateBy, .createBy{
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
}
