.rating_and_review_chart_outer {
  margin: 2rem auto;
  width: 85%;
}

.rating_chart {
  display: grid;
  grid-template-columns: 1fr 1.5fr 2fr ;
  gap: 0.25rem;
}

.custom_linear_progress_bar{
  display: grid;
  grid-template-columns: 10px 10px 1fr 20px ;
}
.progress {
  margin:5px auto;
  padding:0;
  width:70%;
  height:10px;
  overflow:hidden;
  background: var(--lightgray) !important;
  border-radius:6px;
}

.bar {
	position:relative;
  float:left;
  min-width:1%;
  height:100%;
}
