.drawer {
  background-color: var(--sidebar-bg) !important;
  color: #dbdbdb !important;
  border-right: 1px solid var(--common-border-color) !important;

  .innerContainer {
    border-top: 1px solid var(--common-border-color);
    background-color: var(--sidebar-bg);
  }

  // List container
  .listContainer {
    margin-top: 10px;
  }
  //   list Items
  .listItem {
    background-color: var(--sidebar-bg);
    padding-left: 31px;
    padding-block: 12px;
    background-color: transparent !important;
    &:hover {
      background-color: var(--sidebar-hover-item-bg) !important;
    }
  }
  .listIcon {
    color: var(--sidebar-text-color);
  }
  .logo {
    max-height: 33px;
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    cursor: pointer;
  }
  .activeList {
    position: relative;
    isolation: isolate;
    color: var(--new_theme_color);

    .listIcon {
      position: relative;
    }
  }
  .subList {
    background-color: var(--sidebar-sub-bg);
    border-bottom: 1px solid var(--common-border-color);
    border-top: 1px solid var(--common-border-color);
  }
  .subListItems {
    padding-left: 47px;

    svg {
      color: var(--sidebar-text-color);
    }
  }
  .active_sub {
    background-color: var(--sidebar-active-sub-item-bg);
    display: block;
  }
}
