.product_card_action {
  display: grid;
  margin: 1em;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "price add_to_cart"
    "rating add_to_cart";
}
.product_header {
  height: 40px;
  display: grid;
  margin: 1em;
  grid-template-columns: 4fr 1fr;
}

.product_name {
  align-self: center;
}
.product_discount {
  align-self: center;
}
.product_discount_avatar {
  background-color: var(--error) !important;
}

.product_image {
  height: 245;
}

.product_card_action_rating {
  grid-area: rating;
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  justify-items: start;
}

.product_card_action_price {
  grid-area: price;
}

.product_card_action_add_to_cart {
  grid-area: add_to_cart;
}

@media only screen and (max-width: 375px) {
  .product_card_action {
    display: grid;
    margin: 1em 0;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "price "
      "rating "
      "add_to_cart";
  }
}
