.product_card {
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  background: white;
  border-radius: 6px;

  img {
    max-width: 100%;
    background-color: transparent;
    cursor: pointer;
    height: 200px;
    width: 100%;
    object-fit: contain;
    padding: 10px;
  }

  .product_discount {
    border-bottom-left-radius: 50px;
    position: absolute;
    right: 0;
    top: 0;
    background: #aa1515;
    padding: 7px 4px 9px 17px;
    font-size: 12px;
    color: white;
  }

  .no_image{
    font-size: 200px;
    padding: 40px;
    color: #d3d6d3;
  }
  
  .text {
    padding: 8px 10px;
    text-align: left;
    background: #f4f4f4;

    h4{
        cursor: pointer;

        &:hover{
            color: red;
            text-decoration: underline;
        }
    }
    p {
      font-size: 0.9rem;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: #555;
    }

    .amount {
      font-size: 18px;
      font-weight: bold;
      color: #e83030;
      padding: 10px 0 0;
    }

    .amount_stricked {
      font-size: 12px;
      color: #898282;
      padding: 10px 0 0;
      text-decoration: line-through;
    }
  }
}
