.footer {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 40%;
}
.detailPageContainer {
    width: 100%;
    max-height: 400px;
    background-color: aliceblue;
    padding: 1px;
}
.detailPageDiv1 {
    background-color: white;
    border-radius: 8px;
    padding: 12px;
}
.customGrid {
    background-color: aliceblue;
}
.detailPageDiv2 {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.detailPageDiv2 {
    background-color: white;
}
.customBox {
    text-align: center;
    min-height: 300px;
    vertical-align: middle;
    margin-top: 100px;
}
.cTr {
    width: 90%;
}
.td1 {
    width: 150px;
}
.td2 {
    word-wrap: break-word;
}
.customDiv12 {
    flex-grow: 1;
    padding: 10px;
}
.detailPageDiv3 {
    padding: 13px;
    background-color: white;
    border-radius: 13px;
}
.customLink {
    color: darkblue;
    text-decoration: underline;
    font-size: 17px;
    /* margin-bottom: 5px; */
}
.customBox1 {
    min-height: 150px;
    background-color: #d3d3d375;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    margin: 3px;
}
.customDiv13 {
    display: flex;
    justify-content: space-between;
}

.account-header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.custom-height {
    height: calc(100vh - 230px);
}
.accountNameLink {
    color: #0645ad;
    cursor: pointer;
}

.accountNameLink:hover {
    text-decoration: underline;
}
.fSize {
    font-size: 16px;
}
.relatedContacts {
    display: flex;
    justify-content: space-between;
}
.viewAllBtn {
    padding: 0 5px;
}
.btn {
    width: 100%;
}
.account-hierarchy-style > div > div.MuiToolbar-regular {
    display: none;
}


.accountHeader{
    display: flex;
    grid-gap: 20px;
    align-items: center;
  }
  .accountHeaderSearchBar{
    display: block;
  }
  .updatedAtTime , .createdAtTime{
    font-size: 0.6 rem;
    line-height: 1 rem;
    display: block;
    font-weight: lighter;
  }
  .updateBy, .createBy{
    font-size: 0.8rem;
    line-height: 1rem;
    display: block;
  }
  .accountHeaderAddBtnActionBtnGroup{
  display: flex;
  grid-gap: 15px;
  }
  .accountHeaderLogo{
    font-size: 3rem;
    color: #09445A;
  }
  .accountHeaderDropdown .MuiInputBase-root.MuiInput-root.MuiInputBase-formControl.MuiInput-formControl{
    color: #09445A;
    font-size:24px;
  }
  .accountHeaderDropdown .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiFormLabel-filled{
    font-size: 22px;
  color: #414c50;
  }
  .accountHeaderDropdown .MuiInputBase-root.MuiInput-root.MuiInputBase-formControl.MuiInput-formControl{
    width: 100% !important;
  }
  .accountHeader.accountHeader-mobile .MuiFormControl-root.MuiTextField-root .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiOutlinedInput-adornedStart.MuiInputBase-marginDense.MuiOutlinedInput-marginDense{
    padding-left: 18px !important;
    padding-right: 18px !important;
    height: 34px !important;
  }
  /* Button.accountHeaderAddBtn{
    padding-left: 18px;
    padding-right: 18px;
    width: 99px;
    height: 34px;
  } */
  Button.accountHeaderActionBtn{
    padding-left: 18px;
      padding-right: 18px;
      height: 34px;
  }
  .MuiButton-iconSizeMedium > *:first-child{
    font-size: 18px !important;
  }
  .account-header-inner-container .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between .MuiBox-root.MuiBox-root-40.accountHeader{
    display: flex;
      grid-gap: 5px;
  }
  @media only screen and (max-width: 1024px) {
    .accountHeader{
      margin-top: 15px;
    }
  }
  @media only screen and (max-width: 768px) {
    .accountHeader{
      display: block;
      grid-gap: 8px;
      flex-direction: column;
      margin-top: 0;
    }
  
    .accountHeaderAddBtnActionBtnGroup{
      margin-top: 15px;
      width: 100%;
    }
    .accountHeaderSearchBar{
      display: block;
    }
    .account-header-inner-container div.accountHeader{
      display: block;
    }
    .MuiButton-containedPrimary.accountHeaderAddBtn , .MuiButton-outlined.Mui-disabled.accountHeaderActionBtn , .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.accountHeaderActionBtn{
      width: 100% !important;
      /* display:inline; */
    }
    .accountHeaderDropdown .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-marginDense.MuiOutlinedInput-marginDense {
      width: 100% !important;
  }
  .accountHeaderDropdown .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-marginDense.MuiOutlinedInput-marginDense {
    width: 100% !important;
  }
  .accountHeaderDropdown .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl .MuiInput-formControl{
      width: 100% !important;
  }
  .accountHeaderDropdown .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl{
    width: 100% !important;
  }
  .account-header-inner-container .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between .MuiBox-root.MuiBox-root-40.accountHeader{
    display: block;
  }
  }
  
  .custom-grid{
      width: 100%;
      border: 2px solid #D4D6D7;
      border-radius: 8;
      padding: 3px 2px;
  }
  .MuiDataGrid-root{
      border: 2px solid #aeb0b1ad !important;
      border-radius: 12px !important;
  }
  .makeStyles-root-51{
      border: 2px solid #aeb0b1ad;
  }
  /* .MuiDataGrid-root .MuiDataGrid-mainGridContainer {
      border: 2px solid #aeb0b1ad;
      border-radius: 12px;
  } */
  
  .account-name-Link {
      color: #0645ad;
      cursor: pointer;
  }
  
  .account-name-Link:hover {
      text-decoration: underline;
  }
  
  .account-grid {
    height: calc(100vh - 200px);
  }
  @media only screen and (max-width: 714px) {
    .account-header-inner-container .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between .MuiBox-root.MuiBox-root-40.accountHeader{
      width: 100%;
    }
    .account-header-inner-container .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between .MuiGrid-root.MuiGrid-item , .accountHeader.accountHeader-mobile{
    width: 100%;
    }
    .accountHeader.accountHeader-mobile .MuiFormControl-root.MuiTextField-root{
      width: 100% !important;
    }
    .accountHeaderDropdown .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-marginDense.MuiOutlinedInput-marginDense{
      width: 100% !important;
    }
    .accountHeaderAccountTab  , .accountHeaderActiveAccountTab , .accountHeaderInactiveAccountTab {
      margin:0.6rem auto !important;
    }
    .account-header-inner-container div.accountHeader{
      width: 100%;
    }
    .accountHeaderDropdown .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl .MuiInput-formControl{
        width: 100% !important;
    }
  
  .accountHeader.accountHeader-mobile{
    margin-top: 1rem;
  }
  }
  @media only screen and (max-width: 425px) {
    .accountHeader.accountHeader-mobile {
        margin-top: 0;
    }
    .account-header-inner-container .MuiGrid-root.MuiGrid-item{
      width:100%;
    }
   .accountHeader.accountHeader-mobile .MuiFormControl-root.MuiTextField-root{
      width: 100% !important;
    }
  }
  @media only screen and (max-width: 375px){
  #demo-simple-select-outlined {
      width: 230px !important;
  }
  }
  