.footer {
    float: right;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.account-header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
