$pgb: #e2e2e2;
$pgt: #fff;
$bgb: #fff;
$bgt: #e2e2e2;

@mixin bp($bp, $min-max: min-width) {
    $em: $bp/16;
    @media (#{$min-max}: #{$em}em) {
        @content;
    }
}
.product_container {
    margin-top: 20px !important;
    margin: 30px;
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    h5 {
        text-transform: uppercase;
        margin: 0;
        font-size: 14px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
        color: var(--grey);
    }
}
.price_and_discount {
    display: flex;
    width: 60%;
    align-items: center;
    padding: 1rem 0 0.5rem 0;

    .current > h2 {
        padding: 0 0.5rem 0 0.5rem;
        font-size: 2rem;
        color: var(--productRed);
    }
    .mrp_price {
        text-decoration: line-through;
        font-size: 1rem;
        color: var(--grey);
        font-weight: 600;
        padding-left: 0.5rem;
        padding-top: 0.35rem;
    }
}
.user_rating {
    display: flex;
    align-items: flex-end;
    p {
        color: #ffb400;
        font-weight: 600;
        padding-left: 10px;
        font-size: 0.7rem;
    }
}
.product {
    &_image {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px 20px 0 0;
        padding: 55px 0;
        width: 100%;
        margin: auto;

        & img {
            object-fit: contain;
            border-radius: 15px;
        }
    }

    &_no_image {
        font-size: 190px;
        color: #d3d6d3;
    }

    &_pic {
        max-width: 180px;
        position: relative;
        left: 0;
        margin: 40px 0;
        filter: drop-shadow(-6px 40px 23px rgba(black, 0.5));
    }
    &_details {
        padding: 55px 0 40px 40px;
        background-color: white;
        border-radius: 0 0 20px 20px;
        .title {
            text-transform: uppercase;
            margin: 0;
        }
        .avaibility {
            font-weight: bold;
            color: var(--grey);
            font-weight: 700;
            font-size: 12px;
            color: green;

            h3 {
                text-transform: uppercase !important;
                display: inline;
                font-size: 0.8rem;
                color: grey !important;
            }
        }
        .price {
            font-weight: 700;
            margin-top: 5px;
            font-size: 18px;
            .current {
                color: var(--productRed);
                margin-right: 6px;
            }
        }

        header {
            padding-bottom: 20px;
            position: relative;
        }
        article {
            > h5 {
                margin: 0;
            }
            > p {
                color: var(--grey);
                margin: 0.5em 0;
                font-size: 14px;
                line-height: 1.6;
            }
        }
        .controls {
            margin: 1em 0;
            display: flex;
            flex-direction: column;

            div {
                align-items: center;
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 3px 20px;
            }
        }
        .rate {
            position: static;
            margin-top: 10px;
        }
    }
}
.set_width {
    display: flex;
    hr {
        width: 30rem;
        margin: 1rem 3rem 0 0;
    }
}
.controls_over {
    display: flex;
    flex-direction: row !important;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button_layout {
    padding: 1rem 0 0 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.primary_buttons {
    padding: 0.5rem 0 !important;
    width: 9.5rem;
    border-radius: 8px !important;
    margin: 0.3rem 0.5rem 0 0 !important;
}

.secondary_buttons {
    padding: 0.43rem 0 !important;
    width: 9.5rem;
    border-radius: 8px !important;
    margin: 0.3rem 0.5rem 0 0 !important;
}
.vendor {
    h5 {
        font-weight: 700;
        font-size: 0.8rem;
        padding-bottom: 0.5rem;

        span {
            text-transform: capitalize !important;
        }
    }
}
.container_box {
    background: white;
    border-radius: 8px;
}

@include bp(600) {
    .product_details {
        .rate {
            position: absolute;
            top: 12px;
            right: 10px;
            margin-top: 0;
        }
    }
}

@include bp(900) {
    .product_container {
        display: flex;
        flex-direction: row;
        align-items: normal;
        margin: auto;
    }
    .product_image {
        max-width: 470px;
        min-height: 500px;
        align-items: center;
        justify-content: center;
    }
    .product_pic {
        left: -40px;
        max-width: 330px;
    }
    .product_details {
        width: 100%;
        border-radius: 0 20px 20px 0;
    }
}

@media only screen and (max-width: 900px) {
    .product_container {
        margin: 1% !important;
        width: 98% !important;
        box-shadow: none;
    }
}

.detailContainerOne {
    height: calc(100vh - 100px);
    width: 100%;
    position: relative;
    top: 36px;
    padding: 0 10px 10px 10px;
    overflow: auto;
    z-index: 11;
    margin-top: 5px !important;
}
.product_list_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 15px;
    align-items: stretch;
    // padding: 0 15px 15px 15px;
    flex: 1;
}
.wrapper {
    display: flex;
    background: white;
}
@media screen and (max-width: 700px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        background: white;
    }
}



//  Sidebar
.sidebar_nav {
    padding: 10px;
    height: calc(100vh - 109px);
    overflow: auto;
  }
  
  .single_category {
    margin: 4px;
    display: flex;
    align-items: center;
    height: 2rem;
  
    &_name {
      color: var(--colorContact);
      margin: 0.2rem;
      font-weight: 600;
      //padding: 0 0.5rem;
    }
  
    &_icon {
      color: var(--colorContact);
    }
  
  }
  .padding_in_ratings{
    margin-top: 20px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e9e6e6;
    text-align: left;
    padding: 3px 10px 0 7px;
    font-size: 20px;
    font-weight: bolder;
    color: #041918;
  }
  .single_category_checkBox{
    width: 15px !important;
    height: 15px !important;
  }
  .font_size{
    font-size: 15px;
    color: #818a8d;
  }
  .rating {
    padding: 4px 5px;
    display: flex;
    justify-content: space-between;
  }
  .rating_size{
    font-size: 1.3rem !important;
  }
  @media screen and (max-width: 700px) {
    .sidebar_nav {
      width: 100%;
      margin-top: 1rem;
      max-height: 45rem;
  
      overflow-y: scroll;
    }
  }
  