.grid_container {
    display: grid;
    grid-template-columns: 400px 1fr;
    // grid-gap: 10px;
    gap: 2rem;
    background-color: var(--white);
}

.grid-container > div {
    background-color: var(--white);
    // height: 50vw;
    text-align: center;
    // padding: 20px 0;
    font-size: 30px;
}

.price,
.name {
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: bold;
}

.availability {
    color: var(--grey);
    font-family: sans-serif;
    font-size: 1rem;
    margin-left: 10px;
}

.seller {
    color: var(--grey);
    font-family: monospace;
    font-size: 1rem;
    margin-left: 10px;
}

.description {
    margin-left: 20px;
    margin-top: 20px;
    div {
        margin-top: 10px;
    }
    li {
        list-style-type: circle;
        font-family: monospace;
        font-size: 1rem;
        color: var(--grey);
        margin-top: 2rem;
    }
}

.right_side {
    div {
        margin-bottom: 5px;
        text-align: left;
    }
}

.ml_2 {
    margin-left: 10px;
}

.originalPrice {
    margin-left: 2rem;
    text-decoration: line-through;
}

@media (max-width: 1024px) {
    .grid_container {
        width: 90%;
        margin: 2rem auto;
    }
}

@media (max-width: 768px) {
    .grid_container {
        width: 95%;
        margin: 2rem auto;
    }
}

@media (max-width: 578px) {
    .grid_container {
        width: 95%;
        margin: 2rem auto;
        grid-template-columns: 1fr;
    }
}

.a_divider_inner {
    height: 44px;
    margin-bottom: -18px;
    background: -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.03) 3px, transparent);
    z-index: 0;
    zoom: 1;
}

.a_divider_inner:after {
    display: block;
    width: 100%;
    height: 44px;
    background-color: transparent;
    background: -webkit-linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    background: linear-gradient(to right,#fff,rgba(255,255,255,0),#fff);
    z-index: 1;
    content: "";
}
