.footer {
  float: right;
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.detail_page_container {
  width: 100%;
  max-height: 400px;
  background-color: aliceblue;
  padding: 1px;
}
.detail_page_div1 {
  background-color: var(--white);
  border-radius: 8px;
  padding: 12px;
}
.custom_grid {
  background-color: aliceblue;
}
// .detail_page_div2 {
//   padding: 10px;
//   background-color: var(--white);
//   margin-bottom: 10px;
//   border-radius: 8px;
//   display: flex;
//   flex-direction: column;
//   gap: 3px;
// }

// .detail_page_div2 {
//   background-color: var(--white);
// }
.custom_box {
  text-align: center;
  min-height: 300px;
  vertical-align: middle;
  margin-top: 100px;
}
.cTr {
  width: 90%;
}
.td1 {
  width: 150px;
}
.td2 {
  word-wrap: break-word;
}
.custom_div12 {
  flex-grow: 1;
  padding: 10px;
}
.detail_page_div3 {
  // padding: 6px 1px;
  background-color: var(--white);
  border-radius: 13px;
}
.custom_link {
  font-size: 17px;
  /* margin-bottom: 5px; */
}
.custom_box1 {
  min-height: 150px;
  border-radius: 10px;
  padding: 10px 1px;
  justify-content: center;
  margin: 3px;
}
.custom_div13 {
  display: flex;
  justify-content: space-between;
}

.terms_header {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.custom_height {
  height: calc(100vh - 230px);
}
.terms_name_link {
  color: var(--link);
  cursor: pointer;
}

.terms_name_link:hover {
  text-decoration: underline;
}
.f_size {
  font-size: 16px;
}
.related_contacts {
  padding: 10px;
  background-color: rgb(238, 238, 238);
  display: flex;
  justify-content: space-between;
}
.view_all_btn {
  padding: 0;
  background-color: rgb(238, 238, 238);
}
.btn {
  width: 100%;
}

.terms_header {
  display: flex;
  grid-gap: 20px;
  align-items: center;
}
.terms_header_search_bar {
  display: block;
}
.updated_at_time,
.created_at_time {
  font-size: 0.6 rem;
  line-height: 1 rem;
  display: block;
  font-weight: lighter;
}
.update_by,
.create_by {
  font-size: 0.8rem;
  line-height: 1rem;
  display: block;
}
.terms_header_add_btn_action_btn_group {
  display: flex;
  grid-gap: 15px;
}
.terms_header_logo {
  font-size: 3rem;
  color: #09445a;
}
.terms_header_dropdown .MuiInputBase-root.MuiInput-root.MuiInputBase-formControl.MuiInput-formControl {
  color: #09445a;
  font-size: 24px;
}
.terms_header_dropdown
  .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiFormLabel-filled {
  font-size: 22px;
  color: #414c50;
}
.terms_header_dropdown .MuiInputBase-root.MuiInput-root.MuiInputBase-formControl.MuiInput-formControl {
  width: 100% !important;
}
.terms_header.terms_header-mobile
  .MuiFormControl-root.MuiTextField-root
  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-adornedStart.MuiOutlinedInput-adornedStart.MuiInputBase-marginDense.MuiOutlinedInput-marginDense {
  padding-left: 18px !important;
  padding-right: 18px !important;
  height: 34px !important;
}
/* Button.terms_header_add_btn{
    padding-left: 18px;
    padding-right: 18px;
    width: 99px;
    height: 34px;
  } */
Button.terms_header_action_btn {
  padding-left: 18px;
  padding-right: 18px;
  height: 34px;
}
.MuiButton-iconSizeMedium > *:first-child {
  font-size: 18px !important;
}
.terms_header_inner_container
  .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between
  .MuiBox-root.MuiBox-root-40.terms_header {
  display: flex;
  grid-gap: 5px;
}
@media only screen and (max-width: 1024px) {
  .terms_header {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 768px) {
  .terms_header {
    display: block;
    grid-gap: 8px;
    flex-direction: column;
    margin-top: 0;
  }

  .terms_header_add_btn_action_btn_group {
    margin-top: 15px;
    width: 100%;
  }
  .terms_header_search_bar {
    display: block;
  }
  .terms_header_inner_container div.terms_header {
    display: block;
  }
  .MuiButton-containedPrimary.terms_header_add_btn,
  .MuiButton-outlined.Mui-disabled.terms_header_action_btn,
  .MuiButtonBase-root.MuiButton-root.MuiButton-outlined.terms_header_action_btn {
    width: 100% !important;
    /* display:inline; */
  }
  .terms_header_dropdown
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-marginDense.MuiOutlinedInput-marginDense {
    width: 100% !important;
  }
  .terms_header_dropdown
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-marginDense.MuiOutlinedInput-marginDense {
    width: 100% !important;
  }
  .terms_header_dropdown
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl
    .MuiInput-formControl {
    width: 100% !important;
  }
  .terms_header_dropdown
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl.MuiInput-formControl {
    width: 100% !important;
  }
  .terms_header_inner_container
    .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between
    .MuiBox-root.MuiBox-root-40.terms_header {
    display: block;
  }
}

.custom_grid {
  width: 100%;
  border: 2px solid #d4d6d7;
  border-radius: 8;
  padding: 3px 2px;
}
.MuiDataGrid-root {
  border: 2px solid #aeb0b1ad !important;
  border-radius: 12px !important;
}
.makeStyles-root-51 {
  border: 2px solid #aeb0b1ad;
}
/* .MuiDataGrid-root .MuiDataGrid-mainGridContainer {
      border: 2px solid #aeb0b1ad;
      border-radius: 12px;
  } */

.terms_grid {
  height: calc(100vh - 200px);
}
@media only screen and (max-width: 714px) {
  .terms_header_inner_container
    .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between
    .MuiBox-root.MuiBox-root-40.terms_header {
    width: 100%;
  }
  .terms_header_inner_container
    .MuiGrid-root.MuiGrid-container.MuiGrid-align-content-xs-center.MuiGrid-justify-xs-space-between
    .MuiGrid-root.MuiGrid-item,
  .terms_header.terms_header-mobile {
    width: 100%;
  }
  .terms_header.terms_header-mobile .MuiFormControl-root.MuiTextField-root {
    width: 100% !important;
  }
  .terms_header_dropdown
    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl.MuiInputBase-marginDense.MuiOutlinedInput-marginDense {
    width: 100% !important;
  }
  .terms_header_terms_tab,
  .terms_headerActiveAccountTab,
  .terms_headerInactiveAccountTab {
    margin: 0.6rem auto !important;
  }
  .terms_header_inner_container div.terms_header {
    width: 100%;
  }
  .terms_header_dropdown
    .MuiInputBase-root.MuiInput-root.MuiInput-underline.MuiInputBase-formControl
    .MuiInput-formControl {
    width: 100% !important;
  }

  .terms_header.terms_header-mobile {
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 425px) {
  .terms_header.terms_header-mobile {
    margin-top: 0;
  }
  .terms_header_inner_container .MuiGrid-root.MuiGrid-item {
    width: 100%;
  }
  .terms_header.terms_header-mobile .MuiFormControl-root.MuiTextField-root {
    width: 100% !important;
  }
}
@media only screen and (max-width: 375px) {
  #demo_simple_select_outlined {
    width: 230px !important;
  }
}

@media only screen and (max-width: 599px) {
  .terms_activities_div {
    width: 100%;
  }
}
