.dialogContainer {
  // width: 100%;
  --top-space: 28px;
  --gx: 24px;
  .modalHead {
    gap: 5px;
    background-color: #fff !important;
    position: relative;
    border-radius: 8.17814px 8.17814px 0 0;
    padding: 0;
    padding-inline: var(--gx);
    padding-top: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid var(--common-border-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    [data-mode='dark'] & {
      background-color: var(--dark-primary) !important;
    }

    button {
      display: block;
      flex-basis: 40px;
      max-width: 40px;
      height: 40px;
      border-radius: 50% !important;
      padding: 6px;
      svg {
        color: #000 !important;
        [data-mode='dark'] & {
          color: #fff !important;
        }
      }
    }
    .modalIconAndName {
      display: flex;
      flex-grow: 1;
      align-items: center;
      gap: 24px;
      .modalIcon {
        flex-basis: 32px;
        max-width: 32px;
        height: 32px;
        svg {
          width: 32px;
          height: 32px;
          display: block;
        }
        img {
          width: 32px;
          height: 32px;
          display: block;
        }
      }
      .modalTitle {
        color: #2a3042;
        font-weight: 700;
        font-size: 17px;
        line-height: 157%;
        [data-mode='dark'] & {
          color: #fff;
        }
      }
    }
    .modalHeadActions {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;
    }
  }

  .footer {
    padding: 19.5px var(--gx);
  }
  .dialogContent {
    margin: 10px var(--gx) var(--gx);

    min-height: 250px;
    padding-left: 7px;
  }
  @media all and (max-width: 550px) {
    .modalIcon {
      display: none;
    }
  }
}
