.dialogContainer {
  --top-space: 28px;
  .dialogContentContainer {
    padding: 24px 32px 40px;
  }
  .modalHead {
    padding: 0 0 10px;
    background-color: #fff !important;
    position: relative;
    border-radius: 8.17814px 8.17814px 0 0;
    width: Min(404px, calc(100vw - 64px));
    border-bottom: 1px solid #e2e2e2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    [data-mode='dark'] & {
      background-color: var(--dark-primary) !important;
    }

    button {
      flex-basis: 48px;
      max-width: 48px;
      border-radius: 50% !important;
      svg {
        color: #000 !important;
        [data-mode='dark'] & {
          color: #fff !important;
        }
      }
    }
    .modalIconAndName {
      display: flex;
      flex-basis: calc(100% - 48px);
      max-width: calc(100% - 48px);
      align-items: center;
      gap: 24px;
      .modalIcon {
        flex-basis: 32px;
        max-width: 32px;
        svg {
          width: 32px;
          height: 32px;
          display: block;
        }
        img {
          width: 32px;
          height: 32px;
          display: block;
        }
      }
      .modalTitle {
        color: #2a3042;
        font-weight: 700;
        font-size: 17px;
        line-height: 157%;
        flex-basis: calc(100% - 32px);
        max-width: calc(100% - 32px);
        [data-mode='dark'] & {
          color: #fff;
        }
      }
    }
  }
  .dialogContent {
    margin: var(--top-space, 20px) 0 0;
    padding: 0;
    max-height: 250px;
    min-height: 250px;
    padding-left: 7px;

    .linkList {
      list-style-type: none;
      li {
        margin-bottom: 14px;
        font-size: 14px;
        line-height: 192%;
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
    .dialogLinks {
      font-weight: 500;
      font-size: 15px;
      line-height: 183%;
      text-align: center;
      color: #161924;
      [data-mode='dark'] & {
        color: #fff;
      }
      transition: color 0.3s;
      svg {
        margin-right: 16px;
        vertical-align: middle;
      }
      &:hover {
        color: var(--new_theme_color, lightblue);
      }
    }
  }
  @media all and (max-width: 550px) {
    .modalIcon {
      display: none;
    }
  }
}
